openapi: 3.2.0
info:
  title: GPT Backend Consumer Group API
  version: 0.1.0
servers:
- url: https://api.usepomo.ai
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: consumer-group
paths:
  /api/consumer-group/create_group:
    post:
      tags:
      - consumer-group
      summary: Create User Group
      description: Create a new consumer group for the current company profile.
      operationId: create_user_group_api_consumer_group_create_group_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/consumer-group/fetch_groups:
    get:
      tags:
      - consumer-group
      summary: Fetch Consumer Groups
      description: Fetch all consumer groups for the current company profile.
      operationId: fetch_consumer_groups_api_consumer_group_fetch_groups_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/consumer-group/delete_group/{group_id}:
    delete:
      tags:
      - consumer-group
      summary: Delete Consumer Group
      description: Delete a consumer group and all its consumers.
      operationId: delete_consumer_group_api_consumer_group_delete_group__group_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/consumer-group/upload_consumers/{group_id}:
    post:
      tags:
      - consumer-group
      summary: Upload Consumers To Group
      description: Upload consumers from a CSV or Excel file to a consumer group.
      operationId: upload_consumers_to_group_api_consumer_group_upload_consumers__group_id__post
      security:
      - HTTPBearer: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Group Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_consumers_to_group_api_consumer_group_upload_consumers__group_id__post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/consumer-group/remove_consumers/{group_id}:
    post:
      tags:
      - consumer-group
      summary: Remove Consumers From Group
      description: Remove specific consumers from a group.
      operationId: remove_consumers_from_group_api_consumer_group_remove_consumers__group_id__post
      security:
      - HTTPBearer: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/consumer-group/get_consumers/{group_id}:
    get:
      tags:
      - consumer-group
      summary: Get Consumers
      description: Get consumers in a group with pagination.
      operationId: get_consumers_api_consumer_group_get_consumers__group_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Group Id
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Body_upload_consumers_to_group_api_consumer_group_upload_consumers__group_id__post:
      properties:
        file:
          type: string
          format: binary
          title: File
      type: object
      required:
      - file
      title: Body_upload_consumers_to_group_api_consumer_group_upload_consumers__group_id__post
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
