openapi: 3.2.0
info:
  title: GPT Backend Campaigns API
  version: 0.1.0
servers:
- url: https://api.usepomo.ai
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: campaigns
paths:
  /api/campaigns/external/sync:
    post:
      tags:
      - campaigns
      summary: Sync External Campaigns
      description: 'Sync external Google, Meta, TikTok, or LinkedIn campaigns for the active profile.


        Campaign identity and daily metrics are fetched at campaign level without

        filtering native ad types. Provider-specific hydration may add richer media

        (for example, Google Performance Max asset groups), but an unknown type is

        still persisted and renderable through the generic document contract. The

        default bounded mode never infers remote deletion; callers must explicitly

        request an exhaustive inventory before missing documents are retired.'
      operationId: sync_external_campaigns_api_campaigns_external_sync_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCampaignSyncRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCampaignSyncResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/external/{platform}/{remote_campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get External Campaign Document
      description: Return one imported campaign, strictly scoped to the active profile.
      operationId: get_external_campaign_document_api_campaigns_external__platform___remote_campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          enum:
          - google
          - meta
          - tiktok
          - linkedin
          type: string
          title: Platform
      - name: remote_campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Remote Campaign Id
      - name: document_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Document Id
      - name: account_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Account Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get External Campaign Document Api Campaigns External  Platform   Remote Campaign Id  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - campaigns
      summary: Patch External Campaign Document
      description: Mutate allowlisted provider fields and return verified provider readback.
      operationId: patch_external_campaign_document_api_campaigns_external__platform___remote_campaign_id__patch
      security:
      - HTTPBearer: []
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          enum:
          - google
          - meta
          - tiktok
          type: string
          title: Platform
      - name: remote_campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Remote Campaign Id
      - name: document_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Document Id
      - name: account_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Account Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCampaignPatchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Patch External Campaign Document Api Campaigns External  Platform   Remote Campaign Id  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/external-media/{document_id}/{media_key}:
    get:
      tags:
      - campaigns
      summary: Get External Campaign Media
      description: Proxy one provider media asset after profile-scoped validation.
      operationId: get_external_campaign_media_api_campaigns_external_media__document_id___media_key__get
      security:
      - HTTPBearer: []
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Document Id
      - name: media_key
        in: path
        required: true
        schema:
          type: string
          title: Media Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/external/{platform}/{remote_campaign_id}/sync:
    post:
      tags:
      - campaigns
      summary: Sync External Campaign Document
      description: Synchronize one exact provider campaign for safe mutation recovery.
      operationId: sync_external_campaign_document_api_campaigns_external__platform___remote_campaign_id__sync_post
      security:
      - HTTPBearer: []
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          enum:
          - google
          - meta
          - tiktok
          type: string
          title: Platform
      - name: remote_campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Remote Campaign Id
      - name: document_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Document Id
      - name: account_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Account Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Sync External Campaign Document Api Campaigns External  Platform   Remote Campaign Id  Sync Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/optimization-activity:
    get:
      tags:
      - campaigns
      summary: Get Optimization Activity
      description: 'AI-team activity (history) for the active company profile.


        Sourced from the execution layer (``AgentTeamAction``), so stage reflects

        what actually happened: ``executed`` only when the action genuinely ran;

        ``approved`` actions are reported as approved/queued, not applied. Pass

        ``stage`` (``executed``/``approved``/``declined``/``failed``) to filter. A

        measured performance outcome is reported only when one really exists.'
      operationId: get_optimization_activity_api_campaigns_optimization_activity_get
      security:
      - HTTPBearer: []
      parameters:
      - name: stage
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Stage
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTeamActivityResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/optimization-summary:
    get:
      tags:
      - campaigns
      summary: Get Optimization Summary
      description: 'Per-campaign AI-team activity rollup for the active profile.


        One row per public campaign id the team has acted on, so the Campaigns

        dashboard can surface "AI team · N optimizations" (with a measured outcome

        when one exists) directly on the matching card. Fetched once per profile and

        merged client-side by campaign id; kept independent of the dashboard bundle

        so an activity-query hiccup never blanks the campaign list.'
      operationId: get_optimization_summary_api_campaigns_optimization_summary_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignOptimizationSummaryResponse'
      security:
      - HTTPBearer: []
  /api/campaigns/{campaign_public_id}/optimizations/rollback:
    post:
      tags:
      - campaigns
      summary: Rollback Campaign Optimizations
      operationId: rollback_campaign_optimizations_api_campaigns__campaign_public_id__optimizations_rollback_post
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_public_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Public Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignOptimizationRollbackRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignOptimizationRollbackResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/{campaign_public_id}/optimizations/{action_id}/rollback:
    post:
      tags:
      - campaigns
      summary: Rollback Campaign Optimization
      description: 'Reverse one provider-executed optimization from its captured prior values.


        This is an authenticated, user-confirmed provider mutation—not a database

        rewind. The source action stays immutable. Dates and automatic activation

        are excluded, newer overlapping changes block the rollback, and the normal

        external mutation service enforces provider constraints plus readback.'
      operationId: rollback_campaign_optimization_api_campaigns__campaign_public_id__optimizations__action_id__rollback_post
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_public_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Public Id
      - name: action_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Action Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignOptimizationRollbackResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/{campaign_public_id}/optimization-activity:
    get:
      tags:
      - campaigns
      summary: Get Campaign Optimization Activity
      description: 'The AI-team activity ledger scoped to a single campaign.


        ``campaign_public_id`` is the public id the dashboard exposes on each card

        (``ads_<hash>`` / ``social_<hash>`` / ``batch_<hash>_<platform>``). Same

        honest, execution-sourced contract as the profile-wide ledger, filtered to

        actions that target this campaign.'
      operationId: get_campaign_optimization_activity_api_campaigns__campaign_public_id__optimization_activity_get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_public_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Public Id
      - name: stage
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Stage
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTeamActivityResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/{campaign_public_id}/perf-history:
    get:
      tags:
      - campaigns
      summary: Get Campaign Perf History
      description: 'Daily headline-metric trend + optimization markers for one campaign, for the

        expanded-row chart that backs the strip''s DoD/WoW tags and "+N% vs before". Computed

        live from the raw platform daily metrics; empty for a campaign with no paid analytics.'
      operationId: get_campaign_perf_history_api_campaigns__campaign_public_id__perf_history_get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_public_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Public Id
      - name: days
        in: query
        required: false
        schema:
          type: integer
          default: 30
          title: Days
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPerfHistoryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/edit-image:
    post:
      tags:
      - campaigns
      summary: Edit Campaign Image
      description: 'Edit a campaign supporting image based on user instructions.

        The edited image will be added as a new image for the same campaign.

        Only supporting images can be edited (not banner images).


        The user provides a text description of the changes they want, and the

        AI will generate an edited version of the image based on those instructions.'
      operationId: edit_campaign_image_api_campaigns_email_edit_image_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_edit_campaign_image_api_campaigns_email_edit_image_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/email/edit-content:
    post:
      tags:
      - campaigns
      summary: Edit Campaign Content
      description: 'Edit email campaign content based on user instructions.

        The edited content will replace the existing content for the campaign.


        The user provides a text description of the changes they want, and the

        AI will generate an edited version of the email content based on those instructions.'
      operationId: edit_campaign_content_api_campaigns_email_edit_content_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_edit_campaign_content_api_campaigns_email_edit_content_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/email/delete-image:
    delete:
      tags:
      - campaigns
      summary: Delete Campaign Image
      description: 'Delete a campaign supporting image.

        Only the user who created the campaign can delete images associated with it.


        Query parameters:

        - campaign_id: Campaign ID of the image to delete

        - idea_number: Campaign idea number

        - image_url: URL of the image to delete'
      operationId: delete_campaign_image_api_campaigns_email_delete_image_delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: query
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: query
        required: true
        schema:
          type: integer
          title: Idea Number
      - name: image_url
        in: query
        required: true
        schema:
          type: string
          title: Image Url
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/upload-image:
    post:
      tags:
      - campaigns
      summary: Upload Email Campaign Image General
      description: 'Upload a new image for an email campaign and update database records.

        This endpoint is used for manual image uploads for email campaigns.

        It replaces the general upload-image endpoint previously in campaigns_general.py.'
      operationId: upload_email_campaign_image_general_api_campaigns_email_upload_image_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_email_campaign_image_general_api_campaigns_email_upload_image_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/email/upload-campaign-image:
    post:
      tags:
      - campaigns
      summary: Upload Campaign Image
      description: "Upload a new campaign image and update database records.\nThis endpoint is used for manual image edits instead of replacing an existing image.\n\nArgs:\n    file: The image file to upload\n    campaign_id: Campaign ID\n    idea_number: Campaign idea number\n    image_type: Type of image (defaults to EMAIL_IMAGE)\n    current_user: The authenticated user\n    db: Database session\n\nReturns:\n    JSON response with the result including new image URL"
      operationId: upload_campaign_image_api_campaigns_email_upload_campaign_image_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_campaign_image_api_campaigns_email_upload_campaign_image_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/email/upload-campaign-images:
    post:
      tags:
      - campaigns
      summary: Upload Campaign Images
      description: "Upload campaign images (up to 15) and update database records.\nThis endpoint allows batch uploading of images for a specific campaign idea.\n\nArgs:\n    files: List of image files to upload (max 15)\n    campaign_id: Campaign ID\n    idea_number: Campaign idea number\n    image_type: Type of image (defaults to EMAIL_IMAGE)\n    current_user: The authenticated user\n    db: Database session\n\nReturns:\n    JSON response with the result including new image URLs"
      operationId: upload_campaign_images_api_campaigns_email_upload_campaign_images_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_campaign_images_api_campaigns_email_upload_campaign_images_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/email:
    get:
      tags:
      - campaigns
      summary: Fetch All Email Campaigns
      description: 'Fetch all email campaigns for the current user, including the generated email images.

        Support pagination with page and limit parameters.'
      operationId: fetch_all_email_campaigns_api_campaigns_email_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Fetch All Email Campaigns Api Campaigns Email Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - campaigns
      summary: Create Email Campaign
      description: 'Create a new email campaign using the dedicated EmailCampaign model.

        This endpoint provides a direct REST API method for creating campaigns

        instead of using the workflow approach.'
      operationId: create_email_campaign_api_campaigns_email_post
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCampaignCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCampaignResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/{campaign_id}:
    delete:
      tags:
      - campaigns
      summary: Delete Email Campaign
      description: 'Delete an entire email campaign (all ideas) and related resources.

        This will remove the EmailCampaign models and related resources.'
      operationId: delete_email_campaign_api_campaigns_email__campaign_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/{campaign_id}/idea/{idea_number}:
    delete:
      tags:
      - campaigns
      summary: Delete Email Campaign Idea
      description: 'Delete a specific idea from an email campaign.

        This will remove the idea and all associated images from the database.

        Handles both the new EmailCampaign model and the legacy Campaign model.'
      operationId: delete_email_campaign_idea_api_campaigns_email__campaign_id__idea__idea_number__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/count:
    get:
      tags:
      - campaigns
      summary: Get Email Campaigns Count
      description: 'Get the count of email campaigns for the current user.

        This counts campaigns in the new EmailCampaign model.'
      operationId: get_email_campaigns_count_api_campaigns_email_count_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/email/associate-consumer-group:
    post:
      tags:
      - campaigns
      summary: Associate Consumer Group With Email Campaign
      description: Associate a consumer group with an email campaign.
      operationId: associate_consumer_group_with_email_campaign_api_campaigns_email_associate_consumer_group_post
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
              title: Data
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/email/list-associated-consumer-groups/{campaign_id}/{idea_number}:
    get:
      tags:
      - campaigns
      summary: List Associated Consumer Groups
      description: List all consumer groups associated with an email campaign idea.
      operationId: list_associated_consumer_groups_api_campaigns_email_list_associated_consumer_groups__campaign_id___idea_number__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/remove-consumer-group-association/{association_id}:
    delete:
      tags:
      - campaigns
      summary: Remove Consumer Group Association
      description: Remove an association between a consumer group and an email campaign.
      operationId: remove_consumer_group_association_api_campaigns_email_remove_consumer_group_association__association_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: association_id
        in: path
        required: true
        schema:
          type: integer
          title: Association Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/email/{email_campaign_id}/image:
    post:
      tags:
      - campaigns
      summary: Add Email Campaign Image
      description: 'Add a new image to an existing email campaign using the EmailCampaignImage model.

        The email_campaign_id refers to the ID of the EmailCampaign record.'
      operationId: add_email_campaign_image_api_campaigns_email__email_campaign_id__image_post
      security:
      - HTTPBearer: []
      parameters:
      - name: email_campaign_id
        in: path
        required: true
        schema:
          type: integer
          title: Email Campaign Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCampaignImageCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/edit-content:
    post:
      tags:
      - campaigns
      summary: Edit Social Post Content
      description: 'Edit social post content based on current company profile instructions.

        The edited content will replace the existing content for the social post.


        The current company profile provides a text description of the changes they want, and the

        AI will generate an edited version of the content based on those instructions.'
      operationId: edit_social_post_content_api_campaigns_social_post_edit_content_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_edit_social_post_content_api_campaigns_social_post_edit_content_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/direct-edit-social-post:
    post:
      tags:
      - campaigns
      summary: Direct Edit Social Post
      description: 'Directly edit a social post''s content without AI assistance.

        This endpoint allows direct updates to a social post''s name, caption, hashtags and other fields for the current company profile.'
      operationId: direct_edit_social_post_api_campaigns_social_post_direct_edit_social_post_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_direct_edit_social_post_api_campaigns_social_post_direct_edit_social_post_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/delete-social-post:
    delete:
      tags:
      - campaigns
      summary: Delete Social Post
      description: 'Delete a social media post.

        Only the current company profile who created the post can delete it.

        The post will be removed from the database and chat message metadata.

        Any associated images will also be deleted from the database.


        Query parameters:

        - campaign_id: Campaign ID of the post to delete

        - idea_number: Post idea number'
      operationId: delete_social_post_api_campaigns_social_post_delete_social_post_delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: query
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: query
        required: true
        schema:
          type: integer
          title: Idea Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/edit-social-post-image:
    post:
      tags:
      - campaigns
      summary: Edit Social Post Image
      description: 'Edits a specific social post image using AI, updates GCS and campaign meta_data for the current company profile.

        Also updates the corresponding chat message metadata.'
      operationId: edit_social_post_image_api_campaigns_social_post_edit_social_post_image_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_edit_social_post_image_api_campaigns_social_post_edit_social_post_image_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/upload-social-post-image:
    post:
      tags:
      - campaigns
      summary: Upload Social Post Image
      description: 'Upload an image for a social post campaign and update database records for the current company profile.

        This is used for initial creation of campaigns or updating existing ones.


        Parameters:

        - file: The image file to upload

        - campaign_id: ID of the campaign

        - idea_number: Idea number of the campaign

        - current_image_url: URL of the current image (used for lookup when replace is True)

        - replace: If True, replace existing image; if False, append as a new image'
      operationId: upload_social_post_image_api_campaigns_social_post_upload_social_post_image_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_social_post_image_api_campaigns_social_post_upload_social_post_image_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/social-post-campaigns:
    get:
      tags:
      - campaigns
      summary: Fetch All Social Post Campaigns
      description: 'Fetch all social post campaigns for the current company profile.


        This endpoint retrieves all the social post campaigns created by the current company profile,

        supporting pagination and the option to include variations.


        Query parameters:

        - page: The page number (0-indexed) for pagination

        - limit: The number of items per page

        - include_variations: Whether to include variations of the original posts


        Returns a list of campaigns with their associated images, metadata, and posting status information,

        along with pagination information.'
      operationId: fetch_all_social_post_campaigns_api_campaigns_social_post_social_post_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      - name: include_variations
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Include Variations
      - name: campaign_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: If provided, only campaigns matching this campaign_id are returned
          title: Campaign Id
        description: If provided, only campaigns matching this campaign_id are returned
      - name: platform_scope
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional social platform family filter
          title: Platform Scope
        description: Optional social platform family filter
      - name: status_filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional normalized social status filter
          title: Status Filter
        description: Optional normalized social status filter
      - name: source_filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional creation source filter
          title: Source Filter
        description: Optional creation source filter
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional search text
          title: Search
        description: Optional search text
      - name: dashboard_mode
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Dashboard Mode
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/social-post-campaign/{campaign_id}:
    delete:
      tags:
      - campaigns
      summary: Delete Social Post Campaign
      description: 'Delete an entire social post campaign for the current company profile.

        This will remove the campaign and all associated images from the database.'
      operationId: delete_social_post_campaign_api_campaigns_social_post_social_post_campaign__campaign_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/social-post-campaign/{campaign_id}/idea/{idea_number}:
    delete:
      tags:
      - campaigns
      summary: Delete Social Post Campaign Idea
      description: 'Delete a specific idea from a social post campaign for the current company profile.

        This will remove the idea and all associated images from the database.

        If this was the last idea in the campaign, the entire campaign will be removed.'
      operationId: delete_social_post_campaign_idea_api_campaigns_social_post_social_post_campaign__campaign_id__idea__idea_number__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/social-post-campaigns-count:
    get:
      tags:
      - campaigns
      summary: Get Social Post Campaigns Count
      description: 'Get the count of social post campaigns for the current company profile.

        Returns the total number of social post campaigns owned by the company profile.'
      operationId: get_social_post_campaigns_count_api_campaigns_social_post_social_post_campaigns_count_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/{campaign_id}/{idea_number}/posts:
    get:
      tags:
      - campaigns
      summary: Get Campaign Posts
      description: Get posts for a specific campaign idea for the current company profile, optionally filtered by platform and variation.
      operationId: get_campaign_posts_api_campaigns_social_post__campaign_id___idea_number__posts_get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      - name: platform
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Platform
      - name: variation
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Variation
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPostsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/generate-variation:
    post:
      tags:
      - campaigns
      summary: Generate Social Post Variation
      description: "Generate a variation of an existing social post for the current company profile.\nThis endpoint creates a new variation by generating new text and images based on the original post.\n\nArgs:\n    request: Social post variation request containing campaign_id and idea_number\n    company_profile: Current company profile\n    db: Database session\n\nReturns:\n    dict: Response with the new campaign variation details"
      operationId: generate_social_post_variation_api_campaigns_social_post_generate_variation_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialPostVariationRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post:
    post:
      tags:
      - campaigns
      summary: Create Social Post Campaign
      description: 'Create a new social post campaign using the dedicated SocialPostCampaign model for the current company profile.

        This endpoint provides a direct REST API method for creating campaigns

        instead of using the workflow approach.'
      operationId: create_social_post_campaign_api_campaigns_social_post_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialPostCampaignCreate'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPostCampaignResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/schedule/preflight:
    post:
      tags:
      - campaigns
      summary: Preflight Social Post Schedule
      operationId: preflight_social_post_schedule_api_campaigns_social_post_schedule_preflight_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialScheduleUpsertRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/schedule:
    post:
      tags:
      - campaigns
      summary: Upsert Social Post Schedule
      operationId: upsert_social_post_schedule_api_campaigns_social_post_schedule_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialScheduleUpsertRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/social-post/schedule/{campaign_id}/{idea_number}/{variation}:
    get:
      tags:
      - campaigns
      summary: Get Social Post Schedule
      operationId: get_social_post_schedule_api_campaigns_social_post_schedule__campaign_id___idea_number___variation__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      - name: variation
        in: path
        required: true
        schema:
          type: integer
          title: Variation
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/schedule/{schedule_id}:
    delete:
      tags:
      - campaigns
      summary: Cancel Social Post Schedule
      operationId: cancel_social_post_schedule_api_campaigns_social_post_schedule__schedule_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
          title: Schedule Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/list-schedules:
    get:
      tags:
      - campaigns
      summary: List Social Post Schedules
      operationId: list_social_post_schedules_api_campaigns_social_post_list_schedules_get
      security:
      - HTTPBearer: []
      parameters:
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
      - name: scheduled_from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Scheduled From
      - name: scheduled_to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Scheduled To
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/schedule/dispatch-due:
    post:
      tags:
      - campaigns
      summary: Dispatch Due Social Post Schedules For Company
      operationId: dispatch_due_social_post_schedules_for_company_api_campaigns_social_post_schedule_dispatch_due_post
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 25
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/schedule-campaign/{campaign_id}/{idea_number}:
    post:
      tags:
      - campaigns
      summary: Schedule Social Post Campaign
      operationId: schedule_social_post_campaign_api_campaigns_social_post_schedule_campaign__campaign_id___idea_number__post
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              title: Schedule Data
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/campaign-schedule/{campaign_id}/{idea_number}:
    get:
      tags:
      - campaigns
      summary: Get Social Post Campaign Schedule
      operationId: get_social_post_campaign_schedule_api_campaigns_social_post_campaign_schedule__campaign_id___idea_number__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: idea_number
        in: path
        required: true
        schema:
          type: integer
          title: Idea Number
      - name: variation
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Variation
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/social-post/cancel-schedule/{schedule_id}:
    delete:
      tags:
      - campaigns
      summary: Cancel Social Post Campaign Schedule
      operationId: cancel_social_post_campaign_schedule_api_campaigns_social_post_cancel_schedule__schedule_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: schedule_id
        in: path
        required: true
        schema:
          type: string
          title: Schedule Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-display/create:
    post:
      tags:
      - campaigns
      summary: Create Google Display Campaign
      description: Create a Google Display ad campaign with optional reference images
      operationId: create_google_display_campaign_api_campaigns_online_ads_google_display_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas__campaigns__ads__google__GoogleDisplayAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-search/create:
    post:
      tags:
      - campaigns
      summary: Create Google Search Campaign
      description: Create a Google Search ad campaign
      operationId: create_google_search_campaign_api_campaigns_online_ads_google_search_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleSearchAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-feed/create:
    post:
      tags:
      - campaigns
      summary: Create Meta Feed Campaign
      description: Create a Meta Feed ad campaign with optional reference images
      operationId: create_meta_feed_campaign_api_campaigns_online_ads_meta_feed_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaFeedAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-stories-reels/create:
    post:
      tags:
      - campaigns
      summary: Create Meta Stories Reels Campaign
      description: Create a Meta Stories & Reels ad campaign
      operationId: create_meta_stories_reels_campaign_api_campaigns_online_ads_meta_stories_reels_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaStoriesReelsAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/amazon-sponsored-products/create:
    post:
      tags:
      - campaigns
      summary: Create Amazon Sponsored Products Campaign
      description: Create an Amazon Sponsored Products ad campaign
      operationId: create_amazon_sponsored_products_campaign_api_campaigns_online_ads_amazon_sponsored_products_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonSponsoredProductsAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/amazon-sponsored-brands/create:
    post:
      tags:
      - campaigns
      summary: Create Amazon Sponsored Brands Campaign
      description: Create an Amazon Sponsored Brands ad campaign with optional reference images
      operationId: create_amazon_sponsored_brands_campaign_api_campaigns_online_ads_amazon_sponsored_brands_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonSponsoredBrandsAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/amazon-sponsored-display/create:
    post:
      tags:
      - campaigns
      summary: Create Amazon Sponsored Display Campaign
      description: Create an Amazon Sponsored Display ad campaign with optional reference images
      operationId: create_amazon_sponsored_display_campaign_api_campaigns_online_ads_amazon_sponsored_display_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonSponsoredDisplayAdRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/tiktok/create:
    post:
      tags:
      - campaigns
      summary: Create Tiktok Campaign
      description: Create a TikTok Single Image ad campaign
      operationId: create_tiktok_campaign_api_campaigns_online_ads_tiktok_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseAdsCampaignRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-search-campaigns:
    get:
      tags:
      - campaigns
      summary: Get Google Search Campaigns
      operationId: get_google_search_campaigns_api_campaigns_online_ads_google_search_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-search-campaign/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Google Search Campaign
      operationId: get_google_search_campaign_api_campaigns_online_ads_google_search_campaign__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-search/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Google Search Campaign
      operationId: update_google_search_campaign_api_campaigns_online_ads_google_search_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaignUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-search/generate-variation/{ad_id}:
    post:
      tags:
      - campaigns
      summary: Generate Google Search Variation
      operationId: generate_google_search_variation_api_campaigns_online_ads_google_search_generate_variation__ad_id__post
      security:
      - HTTPBearer: []
      parameters:
      - name: ad_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-display-campaigns:
    get:
      tags:
      - campaigns
      summary: Get Google Display Campaigns
      operationId: get_google_display_campaigns_api_campaigns_online_ads_google_display_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-display-campaign/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Google Display Campaign
      operationId: get_google_display_campaign_api_campaigns_online_ads_google_display_campaign__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-display/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Google Display Campaign
      operationId: update_google_display_campaign_api_campaigns_online_ads_google_display_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaignUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-display/generate-variation/{ad_id}:
    post:
      tags:
      - campaigns
      summary: Generate Google Display Variation
      operationId: generate_google_display_variation_api_campaigns_online_ads_google_display_generate_variation__ad_id__post
      security:
      - HTTPBearer: []
      parameters:
      - name: ad_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-display/edit-image:
    post:
      tags:
      - campaigns
      summary: Edit Google Display Image
      operationId: edit_google_display_image_api_campaigns_online_ads_google_display_edit_image_post
      responses:
        '410':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-display/upload-image:
    post:
      tags:
      - campaigns
      summary: Upload Google Display Image
      operationId: upload_google_display_image_api_campaigns_online_ads_google_display_upload_image_post
      responses:
        '410':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-video:
    post:
      tags:
      - campaigns
      summary: Create Google Video Ad Campaign
      operationId: create_google_video_ad_campaign_api_campaigns_online_ads_google_video_post
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleVideoAdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - campaigns
      summary: Get Google Video Campaigns
      operationId: get_google_video_campaigns_api_campaigns_online_ads_google_video_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-video/all:
    get:
      tags:
      - campaigns
      summary: Get Google Video Ad Campaigns
      operationId: get_google_video_ad_campaigns_api_campaigns_online_ads_google_video_all_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/google-video/{ad_id}:
    get:
      tags:
      - campaigns
      summary: Get Google Video Ad Campaign
      operationId: get_google_video_ad_campaign_api_campaigns_online_ads_google_video__ad_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: ad_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-video/campaign/{campaign_id}:
    delete:
      tags:
      - campaigns
      summary: Delete Google Video Ad Campaign
      operationId: delete_google_video_ad_campaign_api_campaigns_online_ads_google_video_campaign__campaign_id__delete
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-video/generate-variation/{ad_id}:
    post:
      tags:
      - campaigns
      summary: Create Google Video Ad Variation
      operationId: create_google_video_ad_variation_api_campaigns_online_ads_google_video_generate_variation__ad_id__post
      security:
      - HTTPBearer: []
      parameters:
      - name: ad_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/google-video/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Google Video Ad Campaign
      operationId: update_google_video_ad_campaign_api_campaigns_online_ads_google_video_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-stories-reels-campaigns:
    get:
      tags:
      - campaigns
      summary: Get Meta Stories Reels Campaigns
      operationId: get_meta_stories_reels_campaigns_api_campaigns_online_ads_meta_stories_reels_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/meta-stories-reels-campaign/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Meta Stories Reels Campaign
      operationId: get_meta_stories_reels_campaign_api_campaigns_online_ads_meta_stories_reels_campaign__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/meta-stories-reels/create-campaign:
    post:
      tags:
      - campaigns
      summary: Create Meta Stories Reels Campaign
      operationId: create_meta_stories_reels_campaign_api_campaigns_online_ads_meta_stories_reels_create_campaign_post
      security:
      - HTTPBearer: []
      parameters:
      - name: product_description
        in: query
        required: true
        schema:
          type: string
          title: Product Description
      - name: target_audience
        in: query
        required: true
        schema:
          type: string
          title: Target Audience
      - name: key_selling_points
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Key Selling Points
      - name: num_ads
        in: query
        required: false
        schema:
          type: integer
          default: 3
          title: Num Ads
      - name: num_images_per_ad
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Num Images Per Ad
      - name: video_length
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Video Length
      - name: bid_strategy
        in: query
        required: false
        schema:
          type: string
          default: automatic
          title: Bid Strategy
      - name: budget_range
        in: query
        required: false
        schema:
          type: string
          default: medium
          title: Budget Range
      - name: country
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
      - name: state_province
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: State Province
      - name: city
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: City
      - name: locations
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Locations
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
              title: Campaign Goals
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/meta-stories-reels/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Meta Stories Reels Campaign
      operationId: update_meta_stories_reels_campaign_api_campaigns_online_ads_meta_stories_reels_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaStoriesReelsCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaignUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-stories-reels/launch:
    post:
      tags:
      - campaigns
      summary: Launch Meta Stories Reels Campaign
      operationId: launch_meta_stories_reels_campaign_api_campaigns_online_ads_meta_stories_reels_launch_post
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
              title: Request
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-feed-campaigns:
    get:
      tags:
      - campaigns
      summary: Get Meta Feed Campaigns
      operationId: get_meta_feed_campaigns_api_campaigns_online_ads_meta_feed_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/meta-feed-campaign/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Meta Feed Campaign
      operationId: get_meta_feed_campaign_api_campaigns_online_ads_meta_feed_campaign__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/meta-feed/create-campaign:
    post:
      tags:
      - campaigns
      summary: Create Meta Feed Campaign
      operationId: create_meta_feed_campaign_api_campaigns_online_ads_meta_feed_create_campaign_post
      security:
      - HTTPBearer: []
      parameters:
      - name: product_description
        in: query
        required: true
        schema:
          type: string
          title: Product Description
      - name: target_audience
        in: query
        required: true
        schema:
          type: string
          title: Target Audience
      - name: key_selling_points
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Key Selling Points
      - name: num_ads
        in: query
        required: false
        schema:
          type: integer
          default: 3
          title: Num Ads
      - name: num_images_per_ad
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Num Images Per Ad
      - name: video_length
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Video Length
      - name: bid_strategy
        in: query
        required: false
        schema:
          type: string
          default: automatic
          title: Bid Strategy
      - name: budget_range
        in: query
        required: false
        schema:
          type: string
          default: medium
          title: Budget Range
      - name: country
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
      - name: state_province
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: State Province
      - name: city
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: City
      - name: locations
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Locations
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
              title: Campaign Goals
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/meta-feed/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Meta Feed Campaign
      operationId: update_meta_feed_campaign_api_campaigns_online_ads_meta_feed_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaFeedCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaignUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-feed/edit-image:
    post:
      tags:
      - campaigns
      summary: Edit Meta Feed Image
      operationId: edit_meta_feed_image_api_campaigns_online_ads_meta_feed_edit_image_post
      responses:
        '410':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-feed/upload-image:
    post:
      tags:
      - campaigns
      summary: Upload Meta Feed Image
      operationId: upload_meta_feed_image_api_campaigns_online_ads_meta_feed_upload_image_post
      responses:
        '410':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/meta-feed/launch:
    post:
      tags:
      - campaigns
      summary: Launch Meta Feed Campaign
      operationId: launch_meta_feed_campaign_api_campaigns_online_ads_meta_feed_launch_post
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
              title: Request
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/linkedin-image-campaigns:
    get:
      tags:
      - campaigns
      summary: Get Linkedin Image Campaigns
      operationId: get_linkedin_image_campaigns_api_campaigns_online_ads_linkedin_image_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/linkedin-image/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Linkedin Image Campaign
      operationId: get_linkedin_image_campaign_api_campaigns_online_ads_linkedin_image__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/linkedin-image-campaign/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Linkedin Image Campaign
      operationId: get_linkedin_image_campaign_api_campaigns_online_ads_linkedin_image_campaign__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/linkedin-image/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Linkedin Image Campaign
      operationId: update_linkedin_image_campaign_api_campaigns_online_ads_linkedin_image_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaignUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/linkedin-video-campaigns:
    get:
      tags:
      - campaigns
      summary: Get Linkedin Video Campaigns
      operationId: get_linkedin_video_campaigns_api_campaigns_online_ads_linkedin_video_campaigns_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/linkedin-video/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Linkedin Video Campaign
      operationId: get_linkedin_video_campaign_api_campaigns_online_ads_linkedin_video__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/linkedin-video-campaign/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Linkedin Video Campaign
      operationId: get_linkedin_video_campaign_api_campaigns_online_ads_linkedin_video_campaign__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/linkedin-video/update-campaign:
    put:
      tags:
      - campaigns
      summary: Update Linkedin Video Campaign
      operationId: update_linkedin_video_campaign_api_campaigns_online_ads_linkedin_video_update_campaign_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaignUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaignUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/tiktok-video:
    post:
      tags:
      - campaigns
      summary: Create Tiktok Video Ad Campaign
      operationId: create_tiktok_video_ad_campaign_api_campaigns_online_ads_tiktok_video_post
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokVideoAdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - campaigns
      summary: Get Tiktok Video Campaigns
      operationId: get_tiktok_video_campaigns_api_campaigns_online_ads_tiktok_video_get
      security:
      - HTTPBearer: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Page
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/campaigns/online-ads/tiktok-video/all:
    get:
      tags:
      - campaigns
      summary: Get Tiktok Video Ad Campaigns
      operationId: get_tiktok_video_ad_campaigns_api_campaigns_online_ads_tiktok_video_all_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/campaigns/online-ads/tiktok-video/call-to-actions:
    get:
      tags:
      - campaigns
      summary: Get Tiktok Video Call To Actions
      operationId: get_tiktok_video_call_to_actions_api_campaigns_online_ads_tiktok_video_call_to_actions_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /api/campaigns/online-ads/tiktok-video/{campaign_id}:
    get:
      tags:
      - campaigns
      summary: Get Tiktok Video Ad Campaign
      operationId: get_tiktok_video_ad_campaign_api_campaigns_online_ads_tiktok_video__campaign_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
[...]
