openapi: 3.2.0
info:
  title: GPT Backend External Platform API
  version: 0.1.0
servers:
- url: https://api.usepomo.ai
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: external-platform
paths:
  /api/external-platform/instagram/auth:
    get:
      tags:
      - external-platform
      summary: Instagram Auth
      description: "Generate an OAuth URL for user authentication.\n\nArgs:\n    login_type: The type of login flow to use. Defaults to \"instagram\".\n               Set to \"facebook\" to use Facebook login instead.\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    InstagramAuthResponseModel: Response with authentication URL"
      operationId: instagram_auth_api_external_platform_instagram_auth_get
      security:
      - HTTPBearer: []
      parameters:
      - name: login_type
        in: query
        required: false
        schema:
          type: string
          default: instagram
          title: Login Type
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstagramAuthResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/instagram/callback:
    get:
      tags:
      - external-platform
      summary: Instagram Callback
      description: "Handle Instagram OAuth callback.\n\nArgs:\n    code: Authorization code from OAuth provider\n    state: State parameter containing user ID and login type\n    error: Error code if authorization failed\n    error_reason: Reason for error if authorization failed\n    error_description: Detailed error description if authorization failed\n    db: Database session\n    \nReturns:\n    RedirectResponse: Redirect to frontend with success or error"
      operationId: instagram_callback_api_external_platform_instagram_callback_get
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: false
        schema:
          type: string
          title: State
      - name: error
        in: query
        required: false
        schema:
          type: string
          title: Error
      - name: error_reason
        in: query
        required: false
        schema:
          type: string
          title: Error Reason
      - name: error_description
        in: query
        required: false
        schema:
          type: string
          title: Error Description
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/instagram/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Instagram
      operationId: disconnect_instagram_api_external_platform_instagram_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/create-post:
    post:
      tags:
      - external-platform
      summary: Create Instagram Post
      description: "Create an Instagram post with an image.\n\nThis endpoint creates a standalone Instagram post not associated with a campaign.\nIt handles authentication, validates the token, and posts content to Instagram.\n\nArgs:\n    post_data: Post content and account details\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    PostResponseModel: Response with post ID"
      operationId: create_instagram_post_api_external_platform_instagram_create_post_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/delete-post:
    post:
      tags:
      - external-platform
      summary: Delete Instagram Post
      description: "Delete an Instagram post by ID.\n\nThis endpoint deletes a post from Instagram and updates the corresponding\ndatabase records in the SocialPostCampaign table.\n\nArgs:\n    delete_data: Post ID to delete\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    DeletePostResponseModel: Response with success status"
      operationId: delete_instagram_post_api_external_platform_instagram_delete_post_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePostRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePostResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/posts:
    get:
      tags:
      - external-platform
      summary: Get Instagram Posts
      description: "Get recent Instagram posts for a specific account.\n\nArgs:\n    instagram_account_id: Instagram business account ID\n    limit: Maximum number of posts to return\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    dict: Response with list of posts"
      operationId: get_instagram_posts_api_external_platform_instagram_posts_get
      security:
      - HTTPBearer: []
      parameters:
      - name: instagram_account_id
        in: query
        required: true
        schema:
          type: string
          title: Instagram Account Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/instagram/post-metrics:
    post:
      tags:
      - external-platform
      summary: Get Post Metrics
      description: "Get metrics for a specific Instagram post.\n\nArgs:\n    metrics_data: Post ID and metrics to retrieve\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    dict: Response with metrics data"
      operationId: get_post_metrics_api_external_platform_instagram_post_metrics_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMetricsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/batch-post-metrics:
    post:
      tags:
      - external-platform
      summary: Get Batch Post Metrics
      description: "Get metrics for multiple Instagram posts in a single request.\n\nArgs:\n    batch_data: Instagram account ID and list of post IDs\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    dict: Response with metrics for all posts"
      operationId: get_batch_post_metrics_api_external_platform_instagram_batch_post_metrics_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPostMetricsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/accounts:
    get:
      tags:
      - external-platform
      summary: Get Instagram Accounts
      description: "Get a list of Instagram business accounts that the user has access to.\nThis endpoint handles both Instagram direct authentication and Facebook authentication.\n\nArgs:\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    dict: Response with list of Instagram accounts and authentication method"
      operationId: get_instagram_accounts_api_external_platform_instagram_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/activation:
    get:
      tags:
      - external-platform
      summary: Get Instagram Activation
      operationId: get_instagram_activation_api_external_platform_instagram_activation_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/activate:
    post:
      tags:
      - external-platform
      summary: Activate Instagram Identity
      operationId: activate_instagram_identity_api_external_platform_instagram_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramActivateIdentityRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/instagram/post-campaign:
    post:
      tags:
      - external-platform
      summary: Post Campaign To Instagram
      description: "Post a campaign's content to Instagram.\n\nThis endpoint creates a post on Instagram using content from a SocialPostCampaign.\nIt supports both single image posts and carousel posts (multiple images).\n\nArgs:\n    post_data: Campaign and Instagram account info\n    db: Database session\n    company_profile: Current company profile (injected via dependency)\n\nReturns:\n    PostResponseModel: Response with post ID and status\n\nNotes:\n    - For carousel posts, multiple images must be provided in the campaign\n    - If posting a carousel, all images should have the same aspect ratio\n    - Carousel posts are limited to 10 images"
      operationId: post_campaign_to_instagram_api_external_platform_instagram_post_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstagramPostCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/campaign/{campaign_id}/status:
    get:
      tags:
      - external-platform
      summary: Get Meta Campaign Status
      description: Fetch real-time Meta campaign status (with optional adset/ad) and map to canonical states.
      operationId: get_meta_campaign_status_api_external_platform_meta_campaign__campaign_id__status_get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: adset_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Adset Id
      - name: ad_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/auth:
    get:
      tags:
      - external-platform
      summary: Meta Auth
      description: 'Get OAuth authorization URL.


        - auth_type = ''facebook'' returns Meta (Facebook) Ads auth URL and redirects to /meta/callback

        - auth_type = ''instagram'' returns Instagram auth URL and redirects to /instagram/callback (for social posting)'
      operationId: meta_auth_api_external_platform_meta_auth_get
      security:
      - HTTPBearer: []
      parameters:
      - name: auth_type
        in: query
        required: false
        schema:
          type: string
          description: '''facebook'' for Meta Ads; ''instagram'' for Instagram social'
          default: facebook
          title: Auth Type
        description: '''facebook'' for Meta Ads; ''instagram'' for Instagram social'
      - name: capability
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional incremental capability upgrade on the same Meta connection.
          title: Capability
        description: Optional incremental capability upgrade on the same Meta connection.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaAuthResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/callback:
    get:
      tags:
      - external-platform
      summary: Meta Callback
      description: 'Handle Meta (Facebook) OAuth callback for Ads connection and store tokens.


        Redirects to the frontend PlatformConnectSuccessPage with platform=meta.'
      operationId: meta_callback_api_external_platform_meta_callback_get
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: false
        schema:
          type: string
          title: State
      - name: error
        in: query
        required: false
        schema:
          type: string
          title: Error
      - name: error_description
        in: query
        required: false
        schema:
          type: string
          title: Error Description
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/accounts:
    get:
      tags:
      - external-platform
      summary: Get Meta Accounts
      description: Get Meta Ad accounts and Facebook Pages for the authenticated user.
      operationId: get_meta_accounts_api_external_platform_meta_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaAccountsResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/activation:
    get:
      tags:
      - external-platform
      summary: Get Meta Activation
      operationId: get_meta_activation_api_external_platform_meta_activation_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/meta/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Meta Ads
      operationId: disconnect_meta_ads_api_external_platform_meta_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/meta/accounts/select:
    post:
      tags:
      - external-platform
      summary: Select Meta Ad Account
      description: Activate one Meta ad account for future launches.
      operationId: select_meta_ad_account_api_external_platform_meta_accounts_select_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaSelectAdAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/activate:
    post:
      tags:
      - external-platform
      summary: Activate Meta Ad Account
      operationId: activate_meta_ad_account_api_external_platform_meta_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaSelectAdAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/launch-ad-campaign:
    post:
      tags:
      - external-platform
      summary: Launch Meta Ad Campaign
      description: Queue a Meta ad campaign launch and return a job id for status polling.
      operationId: launch_meta_ad_campaign_api_external_platform_meta_launch_ad_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaLaunchAdCampaignRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/sync-ad-campaign/preview:
    post:
      tags:
      - external-platform
      summary: Preview Meta Sync
      description: Preview sync changes and billing impact for a Meta ad campaign.
      operationId: preview_meta_sync_api_external_platform_meta_sync_ad_campaign_preview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaSyncPreviewRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/sync-ad-campaign:
    post:
      tags:
      - external-platform
      summary: Sync Meta Ad Campaign
      description: Queue a Meta ad sync and return a job id for status polling.
      operationId: sync_meta_ad_campaign_api_external_platform_meta_sync_ad_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaSyncAdCampaignRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/sync-job/{job_id}:
    get:
      tags:
      - external-platform
      summary: Get Sync Job Status
      operationId: get_sync_job_status_api_external_platform_meta_sync_job__job_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/launch-job/{job_id}:
    get:
      tags:
      - external-platform
      summary: Get Launch Job Status
      operationId: get_launch_job_status_api_external_platform_meta_launch_job__job_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/campaigns/{campaign_id}/activate:
    post:
      tags:
      - external-platform
      summary: Activate Meta Campaign
      description: Activate a paused Meta campaign
      operationId: activate_meta_campaign_api_external_platform_meta_campaigns__campaign_id__activate_post
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/adsets/{adset_id}/activate:
    post:
      tags:
      - external-platform
      summary: Activate Meta Adset
      description: Activate a paused Meta ad set
      operationId: activate_meta_adset_api_external_platform_meta_adsets__adset_id__activate_post
      security:
      - HTTPBearer: []
      parameters:
      - name: adset_id
        in: path
        required: true
        schema:
          type: string
          title: Adset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/ads/{ad_id}/activate:
    post:
      tags:
      - external-platform
      summary: Activate Meta Ad
      description: Activate a paused Meta ad
      operationId: activate_meta_ad_api_external_platform_meta_ads__ad_id__activate_post
      security:
      - HTTPBearer: []
      parameters:
      - name: ad_id
        in: path
        required: true
        schema:
          type: string
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/adsets/{adset_id}/pause:
    post:
      tags:
      - external-platform
      summary: Pause Meta Adset
      description: Pause an active Meta ad set
      operationId: pause_meta_adset_api_external_platform_meta_adsets__adset_id__pause_post
      security:
      - HTTPBearer: []
      parameters:
      - name: adset_id
        in: path
        required: true
        schema:
          type: string
          title: Adset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/ads/{ad_id}/pause:
    post:
      tags:
      - external-platform
      summary: Pause Meta Ad
      description: Pause an active Meta ad
      operationId: pause_meta_ad_api_external_platform_meta_ads__ad_id__pause_post
      security:
      - HTTPBearer: []
      parameters:
      - name: ad_id
        in: path
        required: true
        schema:
          type: string
          title: Ad Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/campaigns/{campaign_id}/pause:
    post:
      tags:
      - external-platform
      summary: Pause Meta Campaign
      description: Pause an active Meta campaign
      operationId: pause_meta_campaign_api_external_platform_meta_campaigns__campaign_id__pause_post
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/campaigns/{campaign_id}/insights:
    get:
      tags:
      - external-platform
      summary: Get Meta Campaign Insights
      description: Get performance insights for a Meta campaign
      operationId: get_meta_campaign_insights_api_external_platform_meta_campaigns__campaign_id__insights_get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: date_preset
        in: query
        required: false
        schema:
          type: string
          default: last_7d
          title: Date Preset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/meta/campaign/action:
    post:
      tags:
      - external-platform
      summary: Meta Campaign Action
      operationId: meta_campaign_action_api_external_platform_meta_campaign_action_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaCampaignActionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/meta/campaign/resume:
    post:
      tags:
      - external-platform
      summary: Meta Campaign Resume
      operationId: meta_campaign_resume_api_external_platform_meta_campaign_resume_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaCampaignResumeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/auth:
    get:
      tags:
      - external-platform
      summary: Google Auth
      description: Get Google OAuth authorization URL for the current company profile.
      operationId: google_auth_api_external_platform_google_auth_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/google/callback:
    get:
      tags:
      - external-platform
      summary: Google Callback
      description: 'Handle Google OAuth callback and store tokens.

        Then redirect to the frontend application.'
      operationId: google_callback_api_external_platform_google_callback_get
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: true
        schema:
          type: string
          title: State
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/google/accounts:
    get:
      tags:
      - external-platform
      summary: Get Google Accounts
      description: Get Google Ads accounts for the authenticated user.
      operationId: get_google_accounts_api_external_platform_google_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAccountsResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/google/activation:
    get:
      tags:
      - external-platform
      summary: Get Google Activation
      operationId: get_google_activation_api_external_platform_google_activation_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/google/activate:
    post:
      tags:
      - external-platform
      summary: Activate Google Ads Account
      operationId: activate_google_ads_account_api_external_platform_google_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleActivateAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Google Ads
      operationId: disconnect_google_ads_api_external_platform_google_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/google/campaigns:
    post:
      tags:
      - external-platform
      summary: Create Google Ad Campaign
      description: Create a new Google Ads campaign.
      operationId: create_google_ad_campaign_api_external_platform_google_campaigns_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/ad-groups:
    post:
      tags:
      - external-platform
      summary: Create Google Ad Group
      description: Create a new Google Ads ad group.
      operationId: create_google_ad_group_api_external_platform_google_ad_groups_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAdGroupRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/display-ads:
    post:
      tags:
      - external-platform
      summary: Create Google Display Ad
      description: Create a new Google Ads display ad.
      operationId: create_google_display_ad_api_external_platform_google_display_ads_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/routes__external_platform__google_action__GoogleDisplayAdRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/create-ad:
    post:
      tags:
      - external-platform
      summary: Create Ad From Campaign
      description: Reject the legacy social-post-to-paid-ad mutation path.
      operationId: create_ad_from_campaign_api_external_platform_google_create_ad_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCreateAdFromCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/sync-ad-campaign/preview:
    post:
      tags:
      - external-platform
      summary: Preview Google Sync
      description: Preview sync changes and billing impact for a Google ad campaign.
      operationId: preview_google_sync_api_external_platform_google_sync_ad_campaign_preview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleSyncPreviewRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/sync-ad-campaign:
    post:
      tags:
      - external-platform
      summary: Sync Ad Campaign
      description: Sync an online ad campaign to Google Ads asynchronously via the agent job system.
      operationId: sync_ad_campaign_api_external_platform_google_sync_ad_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleSyncAdCampaignRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/launch-ad-campaign:
    post:
      tags:
      - external-platform
      summary: Launch Ad Campaign
      description: Launch an online ad campaign to Google Ads asynchronously via the agent job system.
      operationId: launch_ad_campaign_api_external_platform_google_launch_ad_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLaunchAdCampaignRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/campaign/action:
    post:
      tags:
      - external-platform
      summary: Google Campaign Action
      operationId: google_campaign_action_api_external_platform_google_campaign_action_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCampaignActionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/campaign/resume:
    post:
      tags:
      - external-platform
      summary: Google Campaign Resume
      operationId: google_campaign_resume_api_external_platform_google_campaign_resume_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCampaignActionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/google/campaign/{campaign_id}/status:
    get:
      tags:
      - external-platform
      summary: Get Google Campaign Status
      description: "Fetch real-time campaign status from Google Ads API\n\nArgs:\n    campaign_id: Google campaign ID\n    google_account_id: Google Ads account ID\n\nReturns:\n    Campaign status information"
      operationId: get_google_campaign_status_api_external_platform_google_campaign__campaign_id__status_get
      security:
      - HTTPBearer: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
          title: Campaign Id
      - name: google_account_id
        in: query
        required: true
        schema:
          type: string
          title: Google Account Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/amazon/auth:
    get:
      tags:
      - external-platform
      summary: Amazon Auth
      description: Get Amazon OAuth authorization URL for the current user.
      operationId: amazon_auth_api_external_platform_amazon_auth_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmazonAuthResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/callback:
    get:
      tags:
      - external-platform
      summary: Amazon Callback
      description: Handle Amazon OAuth callback and store tokens.
      operationId: amazon_callback_api_external_platform_amazon_callback_get
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: true
        schema:
          type: string
          title: State
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/amazon/accounts:
    get:
      tags:
      - external-platform
      summary: Get Amazon Accounts
      description: 'Get available Amazon advertising accounts (profiles) for the current user.

        Returns empty list if user hasn''t connected their Amazon account yet.'
      operationId: get_amazon_accounts_api_external_platform_amazon_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmazonAccountsResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/campaigns:
    post:
      tags:
      - external-platform
      summary: Create Amazon Campaign
      description: Create a new Amazon advertising campaign.
      operationId: create_amazon_campaign_api_external_platform_amazon_campaigns_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/ad-groups:
    post:
      tags:
      - external-platform
      summary: Create Amazon Ad Group
      description: Create a new Amazon ad group.
      operationId: create_amazon_ad_group_api_external_platform_amazon_ad_groups_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonAdGroupRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/product-ads:
    post:
      tags:
      - external-platform
      summary: Create Amazon Product Ad
      description: Create a new Amazon product ad.
      operationId: create_amazon_product_ad_api_external_platform_amazon_product_ads_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonProductAdRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/keywords:
    post:
      tags:
      - external-platform
      summary: Add Amazon Keywords
      description: Add keywords to an Amazon ad group.
      operationId: add_amazon_keywords_api_external_platform_amazon_keywords_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonKeywordsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/campaigns/{profile_id}:
    get:
      tags:
      - external-platform
      summary: Get Amazon Campaigns
      description: Get Amazon campaigns for a specific profile.
      operationId: get_amazon_campaigns_api_external_platform_amazon_campaigns__profile_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
          title: Profile Id
      - name: state_filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: State Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/amazon/metrics:
    post:
      tags:
      - external-platform
      summary: Get Amazon Campaign Metrics
      description: Get performance metrics for Amazon campaigns.
      operationId: get_amazon_campaign_metrics_api_external_platform_amazon_metrics_post
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
              title: Metrics Request
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/campaign/action:
    post:
      tags:
      - external-platform
      summary: Amazon Campaign Action
      description: 'Pause or delete an Amazon ad campaign.


        Actions:

        - pause: Pauses the campaign (can be resumed later)

        - delete: Archives the campaign (can be relaunched)'
      operationId: amazon_campaign_action_api_external_platform_amazon_campaign_action_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonCampaignActionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/amazon/campaign/resume:
    post:
      tags:
      - external-platform
      summary: Amazon Campaign Resume
      description: Resume a paused Amazon ad campaign.
      operationId: amazon_campaign_resume_api_external_platform_amazon_campaign_resume_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmazonCampaignActionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/auth:
    get:
      tags:
      - external-platform
      summary: Tiktok Auth
      description: Get TikTok OAuth authorization URL for the current company profile.
      operationId: tiktok_auth_api_external_platform_tiktok_auth_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TikTokAuthResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/callback:
    get:
      tags:
      - external-platform
      summary: Tiktok Callback
      description: 'Handle TikTok OAuth callback and store tokens.

        Then redirect to the frontend application.'
      operationId: tiktok_callback_api_external_platform_tiktok_callback_get
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: true
        schema:
          type: string
          title: State
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/tiktok/accounts:
    get:
      tags:
      - external-platform
      summary: Get Tiktok Accounts
      description: Get TikTok advertiser accounts for the authenticated company profile.
      operationId: get_tiktok_accounts_api_external_platform_tiktok_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TikTokAccountsResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/activation:
    get:
      tags:
      - external-platform
      summary: Get Tiktok Activation
      operationId: get_tiktok_activation_api_external_platform_tiktok_activation_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/activate:
    post:
      tags:
      - external-platform
      summary: Activate Tiktok Ads Account
      operationId: activate_tiktok_ads_account_api_external_platform_tiktok_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokActivateAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Tiktok Ads
      operationId: disconnect_tiktok_ads_api_external_platform_tiktok_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/launch-video-ad:
    post:
      tags:
      - external-platform
      summary: Launch Tiktok Video Ad
      description: Start a TikTok launch job and return tracking info.
      operationId: launch_tiktok_video_ad_api_external_platform_tiktok_launch_video_ad_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokLaunchVideoAdRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/sync-ad-campaign/preview:
    post:
      tags:
      - external-platform
      summary: Preview Tiktok Sync
      description: Preview saved Pomo changes for a normalized TikTok video ad.
      operationId: preview_tiktok_sync_api_external_platform_tiktok_sync_ad_campaign_preview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokSyncPreviewRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/sync-ad-campaign:
    post:
      tags:
      - external-platform
      summary: Sync Tiktok Ad Campaign
      description: Queue a normalized TikTok sync job and return tracking info.
      operationId: sync_tiktok_ad_campaign_api_external_platform_tiktok_sync_ad_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokSyncAdRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/ad/pause:
    post:
      tags:
      - external-platform
      summary: Pause Tiktok Ad
      operationId: pause_tiktok_ad_api_external_platform_tiktok_ad_pause_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokAdPauseRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TikTokAdStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok/ad/resume:
    post:
      tags:
      - external-platform
      summary: Resume Tiktok Ad
      operationId: resume_tiktok_ad_api_external_platform_tiktok_ad_resume_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokAdResumeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TikTokAdStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/auth:
    get:
      tags:
      - external-platform
      summary: Tiktok Social Auth
      operationId: tiktok_social_auth_api_external_platform_tiktok_social_auth_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/callback:
    get:
      tags:
      - external-platform
      summary: Tiktok Social Callback
      operationId: tiktok_social_callback_api_external_platform_tiktok_social_callback_get
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: false
        schema:
          type: string
          title: State
      - name: error
        in: query
        required: false
        schema:
          type: string
          title: Error
      - name: error_description
        in: query
        required: false
        schema:
          type: string
          title: Error Description
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/tiktok-social/status:
    get:
      tags:
      - external-platform
      summary: Tiktok Social Status
      operationId: tiktok_social_status_api_external_platform_tiktok_social_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/accounts:
    get:
      tags:
      - external-platform
      summary: Tiktok Social Accounts
      operationId: tiktok_social_accounts_api_external_platform_tiktok_social_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/creator-info:
    post:
      tags:
      - external-platform
      summary: Tiktok Social Creator Info
      operationId: tiktok_social_creator_info_api_external_platform_tiktok_social_creator_info_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/publish-settings:
    post:
      tags:
      - external-platform
      summary: Save Tiktok Social Publish Settings
      operationId: save_tiktok_social_publish_settings_api_external_platform_tiktok_social_publish_settings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokSocialPublishSettingsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/post-campaign:
    post:
      tags:
      - external-platform
      summary: Post Campaign To Tiktok Social
      operationId: post_campaign_to_tiktok_social_api_external_platform_tiktok_social_post_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TikTokSocialPostCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/tiktok-social/publish-status/{publish_id}:
    get:
      tags:
      - external-platform
      summary: Tiktok Social Publish Status
      operationId: tiktok_social_publish_status_api_external_platform_tiktok_social_publish_status__publish_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: publish_id
        in: path
        required: true
        schema:
          type: string
          title: Publish Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/tiktok-social/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Tiktok Social
      operationId: disconnect_tiktok_social_api_external_platform_tiktok_social_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/auth:
    get:
      tags:
      - external-platform
      summary: Linkedin Auth
      operationId: linkedin_auth_api_external_platform_linkedin_auth_get
      security:
      - HTTPBearer: []
      parameters:
      - name: integration_type
        in: query
        required: false
        schema:
          type: string
          description: 'One of: ads, social'
          default: ads
          title: Integration Type
        description: 'One of: ads, social'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/linkedin/callback:
    get:
      tags:
      - external-platform
      summary: Linkedin Callback
      operationId: linkedin_callback_api_external_platform_linkedin_callback_get
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: false
        schema:
          type: string
          title: State
      - name: error
        in: query
        required: false
        schema:
          type: string
          title: Error
      - name: error_description
        in: query
        required: false
        schema:
          type: string
          title: Error Description
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/linkedin/accounts:
    get:
      tags:
      - external-platform
      summary: Get Linkedin Ad Accounts
      description: Get LinkedIn ad accounts for the connected Ads integration.
      operationId: get_linkedin_ad_accounts_api_external_platform_linkedin_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/activation:
    get:
      tags:
      - external-platform
      summary: Get Linkedin Ads Activation
      description: Get LinkedIn Ads activation state and accessible ad accounts.
      operationId: get_linkedin_ads_activation_api_external_platform_linkedin_activation_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/activate:
    post:
      tags:
      - external-platform
      summary: Activate Linkedin Ads Account
      description: Activate one LinkedIn ad account and organization for future launches.
      operationId: activate_linkedin_ads_account_api_external_platform_linkedin_activate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInActivateAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/campaign/action:
    post:
      tags:
      - external-platform
      summary: Linkedin Campaign Action
      operationId: linkedin_campaign_action_api_external_platform_linkedin_campaign_action_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInCampaignActionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/campaign/resume:
    post:
      tags:
      - external-platform
      summary: Linkedin Campaign Resume
      operationId: linkedin_campaign_resume_api_external_platform_linkedin_campaign_resume_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInCampaignResumeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/sync-ad-campaign/preview:
    post:
      tags:
      - external-platform
      summary: Preview Linkedin Sync
      operationId: preview_linkedin_sync_api_external_platform_linkedin_sync_ad_campaign_preview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInSyncPreviewRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/sync-ad-campaign:
    post:
      tags:
      - external-platform
      summary: Sync Linkedin Ad Campaign
      operationId: sync_linkedin_ad_campaign_api_external_platform_linkedin_sync_ad_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInSyncAdCampaignRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/launch-image-ad:
    post:
      tags:
      - external-platform
      summary: Launch Linkedin Image Ad
      operationId: launch_linkedin_image_ad_api_external_platform_linkedin_launch_image_ad_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInLaunchImageAdRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/launch-video-ad:
    post:
      tags:
      - external-platform
      summary: Launch Linkedin Video Ad
      operationId: launch_linkedin_video_ad_api_external_platform_linkedin_launch_video_ad_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInLaunchVideoAdRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/status:
    get:
      tags:
      - external-platform
      summary: Linkedin Ads Status
      description: 'Get LinkedIn Ads integration status.


        Note: the Integrations UI uses `/guided-workflow/check-integrations` for the

        Connected badge (same pattern as Google/Meta). This endpoint is kept for

        deeper validation and manual testing.'
      operationId: linkedin_ads_status_api_external_platform_linkedin_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Linkedin Ads
      description: 'Disconnect LinkedIn Ads integration.


        Not currently exposed in production UI; kept for manual testing.'
      operationId: disconnect_linkedin_ads_api_external_platform_linkedin_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin-social/auth:
    get:
      tags:
      - external-platform
      summary: Linkedin Social Auth
      description: 'Backward-compatible alias for starting LinkedIn OAuth for social posting.

        Prefer `/linkedin/auth?integration_type=social`.'
      operationId: linkedin_social_auth_api_external_platform_linkedin_social_auth_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin-social/status:
    get:
      tags:
      - external-platform
      summary: Linkedin Social Status
      description: Get LinkedIn social integration status.
      operationId: linkedin_social_status_api_external_platform_linkedin_social_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin-social/accounts:
    get:
      tags:
      - external-platform
      summary: Linkedin Social Accounts
      description: Get available LinkedIn posting identities (personal + organizations).
      operationId: linkedin_social_accounts_api_external_platform_linkedin_social_accounts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/post-campaign:
    post:
      tags:
      - external-platform
      summary: Post Campaign To Linkedin
      description: Publish a social post campaign to LinkedIn as a person or organization.
      operationId: post_campaign_to_linkedin_api_external_platform_linkedin_post_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInPostCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/delete-campaign-post:
    post:
      tags:
      - external-platform
      summary: Delete Campaign Post From Linkedin
      description: Delete a published LinkedIn campaign post and update local status.
      operationId: delete_campaign_post_from_linkedin_api_external_platform_linkedin_delete_campaign_post_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInCampaignPostRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin/sync-post-status:
    post:
      tags:
      - external-platform
      summary: Sync Linkedin Campaign Post Status
      description: Refresh one LinkedIn post status from remote API.
      operationId: sync_linkedin_campaign_post_status_api_external_platform_linkedin_sync_post_status_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedInCampaignPostRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/linkedin-social/disconnect:
    post:
      tags:
      - external-platform
      summary: Disconnect Linkedin Social
      description: Disconnect LinkedIn social integration.
      operationId: disconnect_linkedin_social_api_external_platform_linkedin_social_disconnect_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/external-platform/shopify/callback:
    get:
      tags:
      - external-platform
      summary: Shopify Callback
      description: 'Handle Shopify OAuth callback and store tokens.


        Verifies HMAC signature and state token before processing.

        Stores credentials in data_source_integrations table.'
      operationId: shopify_callback_api_external_platform_shopify_callback_get
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
          title: Code
      - name: shop
        in: query
        required: true
        schema:
          type: string
          title: Shop
      - name: state
        in: query
        required: true
        schema:
          type: string
          title: State
      - name: hmac
        in: query
        required: true
        schema:
          type: string
          title: Hmac
      - name: timestamp
        in: query
        required: false
        schema:
          type: string
          title: Timestamp
      - name: host
        in: query
        required: false
        schema:
          type: string
          title: Host
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/shopify/install:
    get:
      tags:
      - external-platform
      summary: Shopify Install
      description: 'Shopify-initiated install entry — the app''s configured App URL.


        Verifies the install request HMAC over the raw query string, then redirects to

        Shopify''s OAuth grant. No Pomo profile is known yet; it is resolved after OAuth

        (see /shopify/install/resolve). Keeps installation initiated from a

        Shopify-owned surface with OAuth before any Pomo UI (2.3.1 / 2.3.2).'
      operationId: shopify_install_api_external_platform_shopify_install_get
      parameters:
      - name: shop
        in: query
        required: true
        schema:
          type: string
          title: Shop
      - name: hmac
        in: query
        required: false
        schema:
          type: string
          title: Hmac
      - name: host
        in: query
        required: false
        schema:
          type: string
          title: Host
      - name: timestamp
        in: query
        required: false
        schema:
          type: string
          title: Timestamp
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/shopify/install/launch:
    get:
      tags:
      - external-platform
      summary: Shopify Install Launch
      description: 'Top-level launch hop for embedded-initiated installs.


        The App Home''s begin-install runs inside the Admin iframe, where no cookie it

        sets would be visible to the new top-level tab. So begin-install returns THIS

        URL instead of the raw authorize URL: the new tab lands here first-party, gets

        the browser-binding OAuth-state cookie, and is bounced straight to Shopify''s

        grant. Token-gated (signed, 2-minute TTL, shop+origin baked in) — not authed,

        by design: it only starts an OAuth grant for the shop named in the token.'
      operationId: shopify_install_launch_api_external_platform_shopify_install_launch_get
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
          title: Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/shopify/connect/start:
    post:
      tags:
      - external-platform
      summary: Shopify Connect Start
      description: 'Pomo-initiated on-ramp. Stashes the pre-known binding intent (as a single-use

        connection request) and returns the App Store listing redirect — a

        Shopify-owned surface.


        The binding intent now travels server-side: a signed ``pomo_shopify_intent``

        cookie carries it across the single Shopify OAuth hop, where the callback

        embeds it into the Redis pending install (the object that follows the install

        to resolve from any tab). The returned ``intent_token`` is retained as a

        backward-compat carrier (older frontends; in-flight installs across the deploy)

        and its absence is now non-fatal. The install stays 2.3.1-compliant either way

        (no manual domain entry).'
      operationId: shopify_connect_start_api_external_platform_shopify_connect_start_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopifyConnectStartRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/shopify/install/resolve:
    post:
      tags:
      - external-platform
      summary: Shopify Install Resolve
      description: 'Post-OAuth resolution (authenticated). Claims the pending install for the user,

        then binds per the Pomo intent (if present) or the §7 matrix. Returns the

        resolved action + redirect, or a picker payload (needs_org / needs_profile).'
      operationId: shopify_install_resolve_api_external_platform_shopify_install_resolve_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopifyInstallResolveRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Shopify Install Resolve Api External Platform Shopify Install Resolve Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /api/external-platform/shopify/privacy/webhooks:
    post:
      tags:
      - external-platform
      summary: Shopify Privacy Webhook
      description: 'Receive Shopify mandatory privacy compliance webhooks.


        The endpoint is intentionally unauthenticated because Shopify authenticates

        the delivery with X-Shopify-Hmac-SHA256 over the raw body.'
      operationId: shopify_privacy_webhook_api_external_platform_shopify_privacy_webhooks_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Shopify Privacy Webhook Api External Platform Shopify Privacy Webhooks Post
  /api/external-platform/shopify/webhooks/app-uninstalled:
    post:
      tags:
      - external-platform
      summary: Shopify App Uninstalled Webhook
      description: 'Handle Shopify''s app/uninstalled webhook.


        When a merchant removes the app, Shopify has already revoked the access

        token, so there is nothing to revoke provider-side — we just clear the

        now-dead local credentials. The endpoint is unauthenticated by design:

        Shopify authenticates delivery with X-Shopify-Hmac-SHA256 over the raw body.'
      operationId: shopify_app_uninstalled_webhook_api_external_platform_shopify_webhooks_app_uninstalled_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Shopify App Uninstalled Webhook Api External Platform Shopify Webhooks App Uninstalled Post
  /api/external-platform/shopify/shop:
    get:
      tags:
      - external-platform
      summary: Get Shopify Shop
      description: 'Get connected Shopify shop information.


        Returns connection status and shop details if connected.'
      operationId: get_shopify_shop_api_external_platform_shopify_shop_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopifyShopResponseModel'
      security:
      - HTTPBearer: []
  /api/external-platform/shopify/status:
    get:
      tags:
      - external-platform
      summary: Get Shopify Status
      description: "Get Shopify connection status with optional health check.\n\nShopify tokens expire roughly every 60 minutes. Use check_health=true to\nrefresh the stored access token if needed and then verify it with a live API\ncall. Refreshing from mf-core is safe because token refreshes are serialized\nwith the UDM pipeline via the shared per-integration advisory lock, so a\nrefresh here can no longer race the pipeline's rotation.\n\nArgs:\n    check_health: If true, refresh if needed and perform a live API call to\n        verify token validity"
      operationId: get_shopify_status_api_external_platform_shopify_status_get
      security:
      - HTTPBearer: []
      parameters:
      - name: check_health
        in: query
        required: false
        schema:
          type: boolean
          description: Perform live health check
          default: false
          title: Check Health
        description: Perform live health check
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopifyStatusResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/shopify/orders:
    get:
      tags:
      - external-platform
      summary: Get Shopify Orders
      description: Get orders from connected Shopify store.
      operationId: get_shopify_orders_api_external_platform_shopify_orders_get
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 250
          minimum: 1
          default: 50
          title: Limit
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: any
          title: Status
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceOrdersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/shopify/disconnect:
    delete:
      tags:
      - external-platform
      summary: Disconnect Shopify
      description: 'Disconnect Shopify integration.


        This uninstalls the app from Shopify before soft-deleting local credentials.'
      operationId: disconnect_shopify_api_external_platform_shopify_disconnect_delete
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceDisconnectResponse'
      security:
      - HTTPBearer: []
  /api/external-platform/shopify/app-home:
    get:
      tags:
      - external-platform
      summary: Shopify App Home
      description: 'Serve the embedded App Home HTML shell with a shop-scoped framing policy.


        Not session-token authed: this serves the shell before App Bridge exists.

        The ``shop`` param is validated (SSRF-safe) and 400 on anything that is not a

        real myshopify domain.'
      operationId: shopify_app_home_api_external_platform_shopify_app_home_get
      parameters:
      - name: shop
        in: query
        required: true
        schema:
          type: string
          title: Shop
      - name: host
        in: query
        required: false
        schema:
          type: string
          default: ''
          title: Host
      responses:
        '200':
          description: Successful Response
          content:
            text/html:
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/shopify/app/status:
    get:
      tags:
      - external-platform
      summary: Shopify App Status
      description: 'Return the App Home status for the session token''s shop.


        Always 200 for a valid token. Unbound shops yield ``bound=false`` with the

        shop domain still populated; every profile-related field is null.'
      operationId: shopify_app_status_api_external_platform_shopify_app_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHomeStatusResponse'
  /api/external-platform/shopify/app/sync:
    post:
      tags:
      - external-platform
      summary: Shopify App Sync
      description: 'Re-run the catalog sync for the session token''s shop.


        409 when the shop is not bound to any Pomo profile (there is nothing to sync).'
      operationId: shopify_app_sync_api_external_platform_shopify_app_sync_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHomeSyncResponse'
  /api/external-platform/shopify/app/begin-install:
    post:
      tags:
      - external-platform
      summary: Shopify App Begin Install
      description: 'Return the URL the embedded page opens (new tab) to (re)run the OAuth grant.


        Works for both bound and unbound shops — a bound shop may re-run OAuth on

        reinstall. The URL is the top-level /install/launch hop (NOT the raw Shopify

        authorize URL): this XHR runs inside the Admin iframe, where no cookie it set

        would be visible to the new tab, and the OAuth state must be browser-bound.

        The launch hop sets the OAuth-state cookie first-party and bounces to Shopify

        (state minted there with origin "app_home" — never inherits an intent cookie).'
      operationId: shopify_app_begin_install_api_external_platform_shopify_app_begin_install_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppHomeBeginInstallResponse'
  /api/external-platform/stripe/auth:
    get:
      tags:
      - external-platform
      summary: Stripe Auth
      description: Get Stripe Connect OAuth authorization URL.
      operationId: stripe_auth_api_external_platform_stripe_auth_get
      security:
      - HTTPBearer: []
      parameters:
      - name: write_access
        in: query
        required: false
        schema:
          type: boolean
          description: Request read_write access instead of read_only
          default: false
          title: Write Access
        description: Request read_write access instead of read_only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceAuthResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/stripe/callback:
    get:
      tags:
      - external-platform
      summary: Stripe Callback
      description: 'Handle Stripe Connect OAuth callback and store tokens.


        CRITICAL: Authorization codes can only be used ONCE.

        The state verification also prevents replay attacks.

        Stores credentials in data_source_integrations table.'
      operationId: stripe_callback_api_external_platform_stripe_callback_get
      parameters:
      - name: code
        in: query
        required: false
        schema:
          type: string
          title: Code
      - name: state
        in: query
        required: true
        schema:
          type: string
          title: State
      - name: error
        in: query
        required: false
        schema:
          type: string
          title: Error
      - name: error_description
        in: query
        required: false
        schema:
          type: string
          title: Error Description
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/external-platform/stripe/account:
    get:
      tags:
      - external-platform
      summary: Get Stripe Account
      description: 'Get connected Stripe account information.


        Returns connection status and account details if connected.'
      operationId: get_stripe_account_api_external_platform_stripe_account_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceAccountResponse'
      security:
      - HTTPBearer: []
[...]
