openapi: 3.2.0
info:
  title: GPT Backend Agentic Teams API
  version: 0.1.0
servers:
- url: https://api.usepomo.ai
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: agentic-teams
paths:
  /api/agentic/teams:
    post:
      tags:
      - agentic-teams
      summary: Create Team
      operationId: create_team_api_agentic_teams_post
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - agentic-teams
      summary: List Teams
      operationId: list_teams_api_agentic_teams_get
      security:
      - HTTPBearer: []
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      - name: company_profile_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Company Profile Id
      - name: include_deleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Deleted
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/templates:
    get:
      tags:
      - agentic-teams
      summary: List Team Templates
      description: Return the catalog of available team templates.
      operationId: list_team_templates_api_agentic_teams_templates_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
  /api/agentic/teams/policy:
    get:
      tags:
      - agentic-teams
      summary: Get Team Policy
      operationId: get_team_policy_api_agentic_teams_policy_get
      security:
      - HTTPBearer: []
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      - name: company_profile_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Company Profile Id
      - name: template_version
        in: query
        required: false
        schema:
          type: string
          default: data_intel_team
          title: Template Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamPolicyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/active:
    get:
      tags:
      - agentic-teams
      summary: Get Active Team
      operationId: get_active_team_api_agentic_teams_active_get
      security:
      - HTTPBearer: []
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      - name: company_profile_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Company Profile Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/AgentTeamDetailResponse'
                - type: 'null'
                title: Response Get Active Team Api Agentic Teams Active Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/fleet:
    get:
      tags:
      - agentic-teams
      summary: Get Team Fleet Snapshot
      operationId: get_team_fleet_snapshot_api_agentic_teams_fleet_get
      security:
      - HTTPBearer: []
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      - name: company_profile_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Company Profile Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 200
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by team status
          title: Status
        description: Filter by team status
      - name: blocked_only
        in: query
        required: false
        schema:
          type: boolean
          description: Include only blocked teams
          default: false
          title: Blocked Only
        description: Include only blocked teams
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
          description: Sort key
          default: updated_at
          title: Sort By
        description: Sort key
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
          description: Sort order (asc|desc)
          default: desc
          title: Sort Order
        description: Sort order (asc|desc)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamFleetSnapshotResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/workspace-init:
    get:
      tags:
      - agentic-teams
      summary: Get Team Workspace Init
      operationId: get_team_workspace_init_api_agentic_teams_workspace_init_get
      security:
      - HTTPBearer: []
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      - name: company_profile_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          title: Company Profile Id
      - name: template_version
        in: query
        required: false
        schema:
          type: string
          default: data_intel_team
          title: Template Version
      - name: include_workspace_data
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Include Workspace Data
      - name: include_report_summary
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Report Summary
      - name: include_presentation_daily_report
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Include Presentation Daily Report
      - name: report_run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Report Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamWorkspaceInitResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/agents/{agent_id}:
    patch:
      tags:
      - agentic-teams
      summary: Update Team Agent
      operationId: update_team_agent_api_agentic_teams__team_id__agents__agent_id__patch
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Agent Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamAgentUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamAgentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}:
    patch:
      tags:
      - agentic-teams
      summary: Update Team Settings
      operationId: update_team_settings_api_agentic_teams__team_id__patch
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - agentic-teams
      summary: Get Team
      operationId: get_team_api_agentic_teams__team_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/control-snapshot:
    get:
      tags:
      - agentic-teams
      summary: Get Team Control Snapshot
      description: Read current card preflight state without synchronizing team policy.
      operationId: get_team_control_snapshot_api_agentic_teams__team_id__control_snapshot_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamControlSnapshotResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/interaction-policy:
    get:
      tags:
      - agentic-teams
      summary: Get Team Interaction Policy
      operationId: get_team_interaction_policy_api_agentic_teams__team_id__interaction_policy_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamInteractionPolicyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - agentic-teams
      summary: Update Team Interaction Policy
      operationId: update_team_interaction_policy_api_agentic_teams__team_id__interaction_policy_patch
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamInteractionPolicyUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamInteractionPolicyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/consult:
    post:
      tags:
      - agentic-teams
      summary: Consult Team Agent
      operationId: consult_team_agent_api_agentic_teams__team_id__consult_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamConsultRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamConsultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/run-guidance:
    put:
      tags:
      - agentic-teams
      summary: Save Team Run Guidance
      description: 'Save (or clear) the focus the team''s next run should use.


        Saving never starts a run: the next run to start — scheduled or manual —

        consumes the saved focus and clears it.'
      operationId: save_team_run_guidance_api_agentic_teams__team_id__run_guidance_put
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamRunGuidanceSaveRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamPendingRunGuidanceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/run-now:
    post:
      tags:
      - agentic-teams
      summary: Run Team Now
      operationId: run_team_now_api_agentic_teams__team_id__run_now_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/AgentTeamRunNowRequest'
              - type: 'null'
              title: Request
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunNowResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/pause:
    post:
      tags:
      - agentic-teams
      summary: Pause Team
      operationId: pause_team_api_agentic_teams__team_id__pause_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/resume:
    post:
      tags:
      - agentic-teams
      summary: Resume Team
      operationId: resume_team_api_agentic_teams__team_id__resume_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/start-fresh:
    post:
      tags:
      - agentic-teams
      summary: Start Team Fresh
      operationId: start_team_fresh_api_agentic_teams__team_id__start_fresh_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamStartFreshRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamStartFreshResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/runs:
    get:
      tags:
      - agentic-teams
      summary: List Team Runs
      operationId: list_team_runs_api_agentic_teams__team_id__runs_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 20
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/runs/{run_id}/graph:
    get:
      tags:
      - agentic-teams
      summary: Get Team Run Graph
      operationId: get_team_run_graph_api_agentic_teams__team_id__runs__run_id__graph_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunGraphResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/runs/{run_id}/stop:
    post:
      tags:
      - agentic-teams
      summary: Stop Team Run
      operationId: stop_team_run_api_agentic_teams__team_id__runs__run_id__stop_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamRunStopRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/runs/{run_id}/graph/intervene:
    post:
      tags:
      - agentic-teams
      summary: Intervene Team Run Graph Node
      operationId: intervene_team_run_graph_node_api_agentic_teams__team_id__runs__run_id__graph_intervene_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamRunNodeInterventionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRunNodeInterventionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/events:
    get:
      tags:
      - agentic-teams
      summary: List Team Events
      operationId: list_team_events_api_agentic_teams__team_id__events_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Run Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 200
          title: Limit
      - name: cursor_created_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Cursor Created At
      - name: cursor_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cursor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamEventListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/messages:
    get:
      tags:
      - agentic-teams
      summary: List Team Messages
      operationId: list_team_messages_api_agentic_teams__team_id__messages_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Run Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 200
          title: Limit
      - name: cursor_created_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Cursor Created At
      - name: cursor_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cursor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamMessageListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/mission-feed:
    get:
      tags:
      - agentic-teams
      summary: List Team Mission Feed
      operationId: list_team_mission_feed_api_agentic_teams__team_id__mission_feed_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Run Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 200
          title: Limit
      - name: cursor_created_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Cursor Created At
      - name: cursor_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamMissionFeedListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/workspace-bootstrap:
    get:
      tags:
      - agentic-teams
      summary: Get Team Workspace Bootstrap
      operationId: get_team_workspace_bootstrap_api_agentic_teams__team_id__workspace_bootstrap_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamWorkspaceBootstrapResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/reports/workspace:
    get:
      tags:
      - agentic-teams
      summary: Get Team Report Workspace
      operationId: get_team_report_workspace_api_agentic_teams__team_id__reports_workspace_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: section_key
        in: query
        required: true
        schema:
          type: string
          description: Report section key
          title: Section Key
        description: Report section key
      - name: report_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Report Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Scope to a single agent-team run.
          title: Run Id
        description: Scope to a single agent-team run.
      - name: states
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional comma-separated approval states for lifecycle-specific report views.
          title: States
        description: Optional comma-separated approval states for lifecycle-specific report views.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 3
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: include_linked
        in: query
        required: false
        schema:
          type: boolean
          description: Include linked recommendations and actions for detail views.
          default: false
          title: Include Linked
        description: Include linked recommendations and actions for detail views.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamReportWorkspaceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/stream:
    get:
      tags:
      - agentic-teams
      summary: Stream Team Activity
      operationId: stream_team_activity_api_agentic_teams__team_id__stream_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Run Id
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: ISO cursor timestamp to resume stream
          title: Cursor
        description: ISO cursor timestamp to resume stream
      - name: poll_seconds
        in: query
        required: false
        schema:
          type: number
          maximum: 5.0
          minimum: 0.5
          default: 1.5
          title: Poll Seconds
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/recommendations:
    get:
      tags:
      - agentic-teams
      summary: List Team Recommendations
      operationId: list_team_recommendations_api_agentic_teams__team_id__recommendations_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: states
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated lifecycle states
          title: States
        description: Comma-separated lifecycle states
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 200
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRecommendationListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/mmm/latest:
    get:
      tags:
      - agentic-teams
      summary: Get Latest Mmm Measurement
      operationId: get_latest_mmm_measurement_api_agentic_teams__team_id__mmm_latest_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Latest Mmm Measurement Api Agentic Teams  Team Id  Mmm Latest Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/mmm/reports:
    get:
      tags:
      - agentic-teams
      summary: List Mmm Measurement Reports
      operationId: list_mmm_measurement_reports_api_agentic_teams__team_id__mmm_reports_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 3
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Scope to a single agent-team run.
          title: Run Id
        description: Scope to a single agent-team run.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Mmm Measurement Reports Api Agentic Teams  Team Id  Mmm Reports Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/search-readiness/reports:
    get:
      tags:
      - agentic-teams
      summary: List Search Readiness Reports
      operationId: list_search_readiness_reports_api_agentic_teams__team_id__search_readiness_reports_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 3
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Scope to a single agent-team run.
          title: Run Id
        description: Scope to a single agent-team run.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List Search Readiness Reports Api Agentic Teams  Team Id  Search Readiness Reports Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/search-readiness/summary:
    get:
      tags:
      - agentic-teams
      summary: Get Search Readiness Summary
      operationId: get_search_readiness_summary_api_agentic_teams__team_id__search_readiness_summary_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: window
        in: query
        required: false
        schema:
          type: integer
          maximum: 26
          minimum: 2
          default: 8
          title: Window
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Scope to a single agent-team run.
          title: Run Id
        description: Scope to a single agent-team run.
      - name: compact
        in: query
        required: false
        schema:
          type: boolean
          description: Return only the aggregate report fields needed by dashboard cards.
          default: false
          title: Compact
        description: Return only the aggregate report fields needed by dashboard cards.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get Search Readiness Summary Api Agentic Teams  Team Id  Search Readiness Summary Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/search-readiness/actions/{action_key}:
    put:
      tags:
      - agentic-teams
      summary: Update Search Readiness Action Status
      operationId: update_search_readiness_action_status_api_agentic_teams__team_id__search_readiness_actions__action_key__put
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: action_key
        in: path
        required: true
        schema:
          type: string
          title: Action Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AeoActionStatusUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Update Search Readiness Action Status Api Agentic Teams  Team Id  Search Readiness Actions  Action Key  Put
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/actions:
    get:
      tags:
      - agentic-teams
      summary: List Team Actions
      operationId: list_team_actions_api_agentic_teams__team_id__actions_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: statuses
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated action statuses
          title: Statuses
        description: Comma-separated action statuses
      - name: owner_agent_keys
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated owner agent keys
          title: Owner Agent Keys
        description: Comma-separated owner agent keys
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 200
          title: Limit
      - name: cursor_updated_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Cursor Updated At
      - name: cursor_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cursor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamActionListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/actions/{action_id}/status:
    patch:
      tags:
      - agentic-teams
      summary: Update Team Action Status
      operationId: update_team_action_status_api_agentic_teams__team_id__actions__action_id__status_patch
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: action_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Action Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamActionStatusUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamActionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/actions/{action_id}/retry:
    post:
      tags:
      - agentic-teams
      summary: Retry Team Action Execution
      operationId: retry_team_action_execution_api_agentic_teams__team_id__actions__action_id__retry_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: action_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Action Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamActionRetryRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamActionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/goal-contract:
    get:
      tags:
      - agentic-teams
      summary: Get Team Goal Contract
      operationId: get_team_goal_contract_api_agentic_teams__team_id__goal_contract_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamGoalContractResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - agentic-teams
      summary: Update Team Goal Contract
      operationId: update_team_goal_contract_api_agentic_teams__team_id__goal_contract_patch
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamGoalContractRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamGoalContractResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/daily-summaries:
    get:
      tags:
      - agentic-teams
      summary: List Daily Summaries
      operationId: list_daily_summaries_api_agentic_teams__team_id__daily_summaries_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 90
          minimum: 1
          default: 30
          title: Limit
      - name: cursor_created_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Cursor Created At
      - name: cursor_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cursor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamDailySummaryListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/digest-emails:
    get:
      tags:
      - agentic-teams
      summary: List Team Digest Emails
      description: 'List a team''s delivered daily digest emails.


        The digest belongs to the company profile, not to whichever teammate the

        email happened to be addressed to, so visibility is scoped to the team —

        ``_get_team_or_404`` has already validated org + profile access — and never

        to ``recipient_user_id``.'
      operationId: list_team_digest_emails_api_agentic_teams__team_id__digest_emails_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 90
          minimum: 1
          default: 30
          title: Limit
      - name: cursor_sent_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Cursor Sent At
      - name: cursor_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cursor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITeamDigestEmailListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/digest-emails/{send_id}:
    get:
      tags:
      - agentic-teams
      summary: Get Team Digest Email
      description: 'Return a single delivered digest email''s browser-renderable HTML.


        Readable by anyone with access to the team''s company profile (see

        ``list_team_digest_emails``); the team filter still blocks reads across

        profiles. Signed image URLs nearing expiry are refreshed (and re-persisted)

        before the HTML is returned, so old digests keep rendering their creative

        thumbnails.'
      operationId: get_team_digest_email_api_agentic_teams__team_id__digest_emails__send_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: send_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Send Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITeamDigestEmailHtmlResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/commands:
    post:
      tags:
      - agentic-teams
      summary: Create Team Command
      operationId: create_team_command_api_agentic_teams__team_id__commands_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamCommandCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamCommandResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - agentic-teams
      summary: List Team Commands
      operationId: list_team_commands_api_agentic_teams__team_id__commands_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamCommandListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/approvals:
    get:
      tags:
      - agentic-teams
      summary: List Team Approvals
      operationId: list_team_approvals_api_agentic_teams__team_id__approvals_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: states
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated approval states
          title: States
        description: Comma-separated approval states
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 1
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamApprovalListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/approvals/bulk-decision:
    post:
      tags:
      - agentic-teams
      summary: Decide Team Approvals Bulk
      operationId: decide_team_approvals_bulk_api_agentic_teams__team_id__approvals_bulk_decision_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamApprovalBulkDecisionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamApprovalBulkDecisionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/approvals/{approval_id}/items/{item_id}/generate:
    post:
      tags:
      - agentic-teams
      summary: Generate Team Approval Bundle Item
      description: 'Draft one item of a selectable bundle, leaving the rest of it open.


        The bundle approval can be decided only once, so drafting a single story

        through the decision route would take the rest of the week''s plan with it.'
      operationId: generate_team_approval_bundle_item_api_agentic_teams__team_id__approvals__approval_id__items__item_id__generate_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: approval_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Approval Id
      - name: item_id
        in: path
        required: true
        schema:
          type: string
          title: Item Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamBundleItemGenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/approvals/{approval_id}/items/{item_id}/skip:
    post:
      tags:
      - agentic-teams
      summary: Skip Team Approval Bundle Item
      description: Decline one item of a selectable bundle, leaving the rest of it open.
      operationId: skip_team_approval_bundle_item_api_agentic_teams__team_id__approvals__approval_id__items__item_id__skip_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: approval_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Approval Id
      - name: item_id
        in: path
        required: true
        schema:
          type: string
          title: Item Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamBundleItemSkipResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/approvals/{approval_id}/decision:
    post:
      tags:
      - agentic-teams
      summary: Decide Team Approval
      operationId: decide_team_approval_api_agentic_teams__team_id__approvals__approval_id__decision_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: approval_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Approval Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamApprovalDecisionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamApprovalResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/agent-reliability:
    get:
      tags:
      - agentic-teams
      summary: List Team Agent Reliability
      operationId: list_team_agent_reliability_api_agentic_teams__team_id__agent_reliability_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentTeamAgentReliabilityResponse'
                title: Response List Team Agent Reliability Api Agentic Teams  Team Id  Agent Reliability Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/learning/summary:
    get:
      tags:
      - agentic-teams
      summary: Get Team Learning Summary
      operationId: get_team_learning_summary_api_agentic_teams__team_id__learning_summary_get
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamLearningSummaryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/learning/notes/{category}:
    patch:
      tags:
      - agentic-teams
      summary: Update Team Learning Note
      operationId: update_team_learning_note_api_agentic_teams__team_id__learning_notes__category__patch
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: category
        in: path
        required: true
        schema:
          type: string
          title: Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamLearningNoteUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Update Team Learning Note Api Agentic Teams  Team Id  Learning Notes  Category  Patch
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/agentic/teams/{team_id}/recommendations/{recommendation_id}/outcome:
    post:
      tags:
      - agentic-teams
      summary: Record Team Recommendation Outcome
      operationId: record_team_recommendation_outcome_api_agentic_teams__team_id__recommendations__recommendation_id__outcome_post
      security:
      - HTTPBearer: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Team Id
      - name: recommendation_id
        in: path
        required: true
        schema:
          type: string
          title: Recommendation Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTeamRecommendationOutcomeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTeamRecommendationOutcomeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AgentTeamFleetTeamResponse:
      properties:
        team_id:
          type: string
          format: uuid
          title: Team Id
        company_profile_id:
          type: string
          format: uuid
          title: Company Profile Id
        team_name:
          type: string
          title: Team Name
        status:
          anyOf:
          - type: string
            enum:
            - active
            - paused
            - error
            - deleted
          - type: string
          title: Status
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
        last_run_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Run Status
        last_run_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Run At
        next_run_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Next Run At
        pending_approvals:
          type: integer
          title: Pending Approvals
          default: 0
        escalated_approvals:
          type: integer
          title: Escalated Approvals
          default: 0
        open_approvals:
          type: integer
          title: Open Approvals
          default: 0
        live_runs:
          type: integer
          title: Live Runs
          default: 0
        recommendation_counts:
          additionalProperties:
            type: integer
          type: object
          title: Recommendation Counts
        blocked:
          type: boolean
          title: Blocked
          default: false
        blocker_reasons:
          items:
            type: string
          type: array
          title: Blocker Reasons
      type: object
      required:
      - team_id
      - company_profile_id
      - team_name
      - status
      title: AgentTeamFleetTeamResponse
    AgentTeamPendingRunGuidanceResponse:
      properties:
        team_id:
          type: string
          format: uuid
          title: Team Id
        run_guidance:
          anyOf:
          - $ref: '#/components/schemas/AgentTeamRunGuidanceResponse'
          - type: 'null'
      type: object
      required:
      - team_id
      title: AgentTeamPendingRunGuidanceResponse
    AgentTeamPolicyModuleResponse:
      properties:
        key:
          type: string
          title: Key
        label:
          type: string
          title: Label
        description:
          type: string
          title: Description
        coordinator_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Coordinator Key
        member_agent_keys:
          items:
            type: string
          type: array
          title: Member Agent Keys
      type: object
      required:
      - key
      - label
      - description
      - member_agent_keys
      title: AgentTeamPolicyModuleResponse
    AgentTeamActionListResponse:
      properties:
        actions:
          items:
            $ref: '#/components/schemas/AgentTeamActionResponse'
          type: array
          title: Actions
        total:
          type: integer
          title: Total
        has_more:
          type: boolean
          title: Has More
          default: false
        next_cursor_updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Next Cursor Updated At
        next_cursor_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Next Cursor Id
      type: object
      required:
      - actions
      - total
      title: AgentTeamActionListResponse
    AgentTeamReportSectionSummaryResponse:
      properties:
        item_count:
          type: integer
          title: Item Count
          default: 0
        asset_count:
          type: integer
          title: Asset Count
          default: 0
        latest_title:
          anyOf:
          - type: string
          - type: 'null'
          title: Latest Title
        latest_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Latest At
        headline_metric:
          anyOf:
          - type: string
          - type: 'null'
          title: Headline Metric
        headline_delta:
          anyOf:
          - type: string
          - type: 'null'
          title: Headline Delta
        status_label:
          anyOf:
          - type: string
          - type: 'null'
          title: Status Label
        status_tone:
          anyOf:
          - type: string
          - type: 'null'
          title: Status Tone
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
        attention_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Attention Count
        evidence:
          items:
            $ref: '#/components/schemas/AgentTeamReportSectionEvidenceResponse'
          type: array
          title: Evidence
      type: object
      title: AgentTeamReportSectionSummaryResponse
    AgentTeamMessageListResponse:
      properties:
        messages:
          items:
            $ref: '#/components/schemas/AgentTeamMessageResponse'
          type: array
          title: Messages
        total:
          type: integer
          title: Total
        has_more:
          type: boolean
          title: Has More
          default: false
        next_cursor_created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Next Cursor Created At
        next_cursor_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Next Cursor Id
      type: object
      required:
      - messages
      - total
      title: AgentTeamMessageListResponse
    AgentTeamApprovalBulkDecisionResponse:
      properties:
        approvals:
          items:
            $ref: '#/components/schemas/AgentTeamApprovalResponse'
          type: array
          title: Approvals
        applied_count:
          type: integer
          title: Applied Count
          default: 0
        skipped_count:
          type: integer
          title: Skipped Count
          default: 0
        errors:
          items:
            $ref: '#/components/schemas/AgentTeamApprovalBulkDecisionError'
          type: array
          title: Errors
      type: object
      title: AgentTeamApprovalBulkDecisionResponse
    DirectorInsightRecommendedActionResponse:
      properties:
        insight_id:
          type: string
          title: Insight Id
        title:
          type: string
          title: Title
        action:
          type: string
          title: Action
        action_type:
          anyOf:
          - type: string
            enum:
            - act_now
            - validate_next
            - monitor
          - type: 'null'
          title: Action Type
        priority:
          type: string
          title: Priority
        priority_rationale:
          anyOf:
          - type: string
          - type: 'null'
          title: Priority Rationale
        why_now:
          anyOf:
          - type: string
          - type: 'null'
          title: Why Now
        measurement_plan:
          type: string
          title: Measurement Plan
        expected_kpi_impact:
          anyOf:
          - type: string
          - type: 'null'
          title: Expected Kpi Impact
        evidence_ids:
          items:
            type: string
          type: array
          title: Evidence Ids
      type: object
      required:
      - insight_id
      - title
      - action
      - priority
      - measurement_plan
      title: DirectorInsightRecommendedActionResponse
    AgentTeamRunNowRequest:
      properties:
        custom_instructions:
          anyOf:
          - type: string
            maxLength: 600
          - type: 'null'
          title: Custom Instructions
          description: Optional one-run guidance used as an AI Team prioritization lens.
        ad_optimization_metric_mode:
          anyOf:
          - type: string
            const: simulation
          - type: 'null'
          title: Ad Optimization Metric Mode
          description: Explicitly run the paid-media audit against isolated simulation facts. Omitted means production provider evidence. Simulation runs never poll providers and never execute recommendations.
      type: object
      title: AgentTeamRunNowRequest
    AgentTeamMissionFeedEntryResponse:
      properties:
        id:
          type: string
          title: Id
        team_id:
          type: string
          format: uuid
          title: Team Id
        run_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Run Id
        source_type:
          type: string
          title: Source Type
        event_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Event Type
        actor:
          type: string
          title: Actor
        title:
          type: string
          title: Title
        body:
          anyOf:
          - type: string
          - type: 'null'
          title: Body
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        severity:
          anyOf:
          - type: string
          - type: 'null'
          title: Severity
        payload_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Payload Json
        created_at:
          type: string
          format: date-time
          title: Created At
      type: object
      required:
      - id
      - team_id
      - source_type
      - actor
      - title
      - created_at
      title: AgentTeamMissionFeedEntryResponse
    AgentSelection:
      properties:
        agent_key:
          type: string
          maxLength: 64
          minLength: 1
          title: Agent Key
        enabled:
          type: boolean
          title: Enabled
          default: true
        display_name:
          anyOf:
          - type: string
            maxLength: 255
          - type: 'null'
          title: Display Name
      type: object
      required:
      - agent_key
      title: AgentSelection
    AgentTeamRecommendationOutcomeResponse:
      properties:
        recommendation:
          $ref: '#/components/schemas/AgentTeamRecommendationResponse'
        reliability:
          anyOf:
          - $ref: '#/components/schemas/AgentTeamAgentReliabilityResponse'
          - type: 'null'
        followup_run_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Followup Run Id
        followup_reused_inflight:
          type: boolean
          title: Followup Reused Inflight
          default: false
      type: object
      required:
      - recommendation
      title: AgentTeamRecommendationOutcomeResponse
    AgentTeamRunListResponse:
      properties:
        runs:
          items:
            $ref: '#/components/schemas/AgentTeamRunResponse'
          type: array
          title: Runs
        total:
          type: integer
          title: Total
      type: object
      required:
      - runs
      - total
      title: AgentTeamRunListResponse
    AgentTeamMissionFeedListResponse:
      properties:
        entries:
          items:
            $ref: '#/components/schemas/AgentTeamMissionFeedEntryResponse'
          type: array
          title: Entries
        total:
          type: integer
          title: Total
        has_more:
          type: boolean
          title: Has More
          default: false
        next_cursor_created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Next Cursor Created At
        next_cursor_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor Id
      type: object
      required:
      - entries
      - total
      title: AgentTeamMissionFeedListResponse
    AgentTeamModuleUpdate:
      properties:
        enabled:
          type: boolean
          title: Enabled
      type: object
      required:
      - enabled
      title: AgentTeamModuleUpdate
    AgentTeamApprovalListResponse:
      properties:
        approvals:
          items:
            $ref: '#/components/schemas/AgentTeamApprovalResponse'
          type: array
          title: Approvals
        total:
          type: integer
          title: Total
        matching_total:
          type: integer
          title: Matching Total
          default: 0
      type: object
      required:
      - approvals
      - total
      title: AgentTeamApprovalListResponse
    AgentTeamWorkspaceBootstrapResponse:
      properties:
        approvals:
          items:
            $ref: '#/components/schemas/AgentTeamApprovalResponse'
          type: array
          title: Approvals
        recommendations:
          items:
            $ref: '#/components/schemas/AgentTeamRecommendationResponse'
          type: array
          title: Recommendations
        actions:
          items:
            $ref: '#/components/schemas/AgentTeamActionResponse'
          type: array
          title: Actions
        runs:
          items:
            $ref: '#/components/schemas/AgentTeamRunResponse'
          type: array
          title: Runs
        mission_feed:
          items:
            $ref: '#/components/schemas/AgentTeamMissionFeedEntryResponse'
          type: array
          title: Mission Feed
        timings_ms:
          additionalProperties:
            type: number
          type: object
          title: Timings Ms
      type: object
      required:
      - approvals
      - recommendations
      - actions
      - runs
      - mission_feed
      title: AgentTeamWorkspaceBootstrapResponse
    AgentTeamStartFreshResponse:
      properties:
        team:
          $ref: '#/components/schemas/AgentTeamResponse'
        started_fresh_at:
          type: string
          format: date-time
          title: Started Fresh At
        cleared_memory_items:
          type: integer
          minimum: 0.0
          title: Cleared Memory Items
          default: 0
        dismissed_commands:
          type: integer
          minimum: 0.0
          title: Dismissed Commands
          default: 0
        expired_approvals:
          type: integer
          minimum: 0.0
          title: Expired Approvals
          default: 0
        cancelled_recommendations:
          type: integer
          minimum: 0.0
          title: Cancelled Recommendations
          default: 0
        cancelled_actions:
          type: integer
          minimum: 0.0
          title: Cancelled Actions
          default: 0
        cleared_events:
          type: integer
          minimum: 0.0
          title: Cleared Events
          default: 0
        cleared_messages:
          type: integer
          minimum: 0.0
          title: Cleared Messages
          default: 0
        cleared_runs:
          type: integer
          minimum: 0.0
          title: Cleared Runs
          default: 0
        cleared_summaries:
          type: integer
          minimum: 0.0
          title: Cleared Summaries
          default: 0
        audit_run_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Audit Run Id
      type: object
      required:
      - team
      - started_fresh_at
      title: AgentTeamStartFreshResponse
    AgentTeamConsultResponse:
      properties:
        policy:
          $ref: '#/components/schemas/AgentTeamInteractionPolicyResponse'
        run:
          $ref: '#/components/schemas/AgentTeamRunResponse'
        target_agent_key:
          type: string
          title: Target Agent Key
        user_message:
          $ref: '#/components/schemas/AgentTeamMessageResponse'
        agent_response:
          anyOf:
          - $ref: '#/components/schemas/AgentTeamMessageResponse'
          - type: 'null'
        manager_handoff_message:
          anyOf:
          - $ref: '#/components/schemas/AgentTeamMessageResponse'
          - type: 'null'
        manager_decision_message:
          anyOf:
          - $ref: '#/components/schemas/AgentTeamMessageResponse'
          - type: 'null'
      type: object
      required:
      - policy
      - run
      - target_agent_key
      - user_message
      title: AgentTeamConsultResponse
    AgentTeamReportHomeSummaryResponse:
      properties:
        decision_items:
          type: integer
          title: Decision Items
          default: 0
        creative_assets:
          type: integer
          title: Creative Assets
          default: 0
        latest_title:
          anyOf:
          - type: string
          - type: 'null'
          title: Latest Title
        latest_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Latest At
        run_guidance:
          anyOf:
          - $ref: '#/components/schemas/AgentTeamRunGuidanceResponse'
          - type: 'null'
        sections:
          additionalProperties:
            $ref: '#/components/schemas/AgentTeamReportSectionSummaryResponse'
          type: object
          title: Sections
        authored_summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Authored Summary
        authored_summary_generated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Authored Summary Generated At
      type: object
      title: AgentTeamReportHomeSummaryResponse
    AgentTeamCreativeScheduleOverride:
      properties:
        selection_id:
          type: string
          maxLength: 200
          minLength: 1
          title: Selection Id
        scheduled_local_date:
          anyOf:
          - type: string
            maxLength: 20
          - type: 'null'
          title: Scheduled Local Date
        scheduled_local_time:
          anyOf:
          - type: string
            maxLength: 10
          - type: 'null'
          title: Scheduled Local Time
        schedule_timezone:
          anyOf:
          - type: string
            maxLength: 80
          - type: 'null'
          title: Schedule Timezone
      type: object
      required:
      - selection_id
      title: AgentTeamCreativeScheduleOverride
    AgentTeamBundleItemGenerationResponse:
      properties:
        approval:
          $ref: '#/components/schemas/AgentTeamApprovalResponse'
        action_id:
          type: string
          format: uuid
          title: Action Id
        item_id:
          type: string
          title: Item Id
        generated_item_ids:
          items:
            type: string
          type: array
          title: Generated Item Ids
        remaining_item_ids:
          items:
            type: string
          type: array
          title: Remaining Item Ids
        approval_resolved:
          type: boolean
          title: Approval Resolved
        project_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Project Id
      type: object
      required:
      - approval
      - action_id
      - item_id
      - generated_item_ids
      - remaining_item_ids
      - approval_resolved
      title: AgentTeamBundleItemGenerationResponse
      description: Result of sending one selectable bundle item to private generation.
    DirectorInsightPackageResponse:
      properties:
        contract_version:
          type: string
          const: director_insight_package_v1
          title: Contract Version
        generated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Generated At
        headline:
          type: string
          title: Headline
        executive_summary:
          type: string
          title: Executive Summary
        executive_summary_evidence_ids:
          items:
            type: string
          type: array
          title: Executive Summary Evidence Ids
        executive_summary_metric_ids:
          items:
            type: string
          type: array
          title: Executive Summary Metric Ids
        key_metrics:
          items:
            $ref: '#/components/schemas/DirectorInsightMetricResponse'
          type: array
          title: Key Metrics
        quantification_status:
          anyOf:
          - type: string
            enum:
            - quantified
            - qualitative
            - qualitative_no_decision_grade_metrics
          - type: 'null'
          title: Quantification Status
        quantification_note:
          anyOf:
          - type: string
          - type: 'null'
          title: Quantification Note
        source_coverage:
          items:
            $ref: '#/components/schemas/DirectorInsightSourceCoverageResponse'
          type: array
          title: Source Coverage
        recommended_actions:
          items:
            $ref: '#/components/schemas/DirectorInsightRecommendedActionResponse'
          type: array
          title: Recommended Actions
        insights:
          items:
            $ref: '#/components/schemas/DirectorInsightResponse'
          type: array
          title: Insights
        limitations:
          items:
            type: string
          type: array
          title: Limitations
        citations:
          items:
            type: string
          type: array
          title: Citations
      type: object
      required:
      - contract_version
      - headline
      - executive_summary
      title: DirectorInsightPackageResponse
    AgentTeamResponse:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
        company_profile_id:
          type: string
          format: uuid
          title: Company Profile Id
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
        name:
          type: string
          title: Name
        status:
          type: string
          enum:
          - active
          - paused
          - error
          - deleted
          title: Status
        approval_mode:
          type: string
          title: Approval Mode
        template_version:
          type: string
          title: Template Version
        default_schedule_minutes:
          type: integer
          title: Default Schedule Minutes
        next_run_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Next Run At
        last_run_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Run At
        last_run_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Run Status
        task_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Task Id
        conversation_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Conversation Id
        settings_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Settings Json
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - organization_id
      - company_profile_id
      - name
      - status
      - approval_mode
      - template_version
      - default_schedule_minutes
      - created_at
      - updated_at
      title: AgentTeamResponse
    AgentTeamBundleItemSkipResponse:
      properties:
        approval:
          $ref: '#/components/schemas/AgentTeamApprovalResponse'
        item_id:
          type: string
          title: Item Id
        skipped_item_ids:
          items:
            type: string
          type: array
          title: Skipped Item Ids
        remaining_item_ids:
          items:
            type: string
          type: array
          title: Remaining Item Ids
        approval_resolved:
          type: boolean
          title: Approval Resolved
      type: object
      required:
      - approval
      - item_id
      - skipped_item_ids
      - remaining_item_ids
      - approval_resolved
      title: AgentTeamBundleItemSkipResponse
      description: Result of declining one selectable bundle item.
    AgentTeamLearningSummaryResponse:
      properties:
        learning_notes:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Learning Notes
      type: object
      title: AgentTeamLearningSummaryResponse
    AgentTeamReportWorkspaceResponse:
      properties:
        approvals:
          items:
            $ref: '#/components/schemas/AgentTeamApprovalResponse'
          type: array
          title: Approvals
        recommendations:
          items:
            $ref: '#/components/schemas/AgentTeamRecommendationResponse'
          type: array
          title: Recommendations
        actions:
          items:
            $ref: '#/components/schemas/AgentTeamActionResponse'
          type: array
          title: Actions
        ads_performance_reports:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Ads Performance Reports
        total:
          type: integer
          title: Total
          default: 0
        has_more:
          type: boolean
          title: Has More
          default: false
        offset:
          type: integer
          title: Offset
          default: 0
        limit:
          type: integer
          title: Limit
          default: 0
        next_offset:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Offset
        timings_ms:
          additionalProperties:
            type: number
          type: object
          title: Timings Ms
      type: object
      title: AgentTeamReportWorkspaceResponse
    AgentTeamRecommendationOutcomeRequest:
      properties:
        outcome:
          type: string
          enum:
          - improved
          - neutral
          - regressed
          - failed
          - unknown
          title: Outcome
        summary:
          anyOf:
          - type: string
            maxLength: 4000
          - type: 'null'
          title: Summary
        kpi_delta_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Kpi Delta Json
        observed_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Observed At
      type: object
      required:
      - outcome
      title: AgentTeamRecommendationOutcomeRequest
    AgentTeamLearningNoteUpdateRequest:
      properties:
        markdown:
          type: string
          maxLength: 20000
          minLength: 1
          title: Markdown
      type: object
      required:
      - markdown
      title: AgentTeamLearningNoteUpdateRequest
    AgentTeamInteractionPolicyResponse:
      properties:
        phase:
          type: integer
          enum:
          - 1
          - 2
          - 3
          title: Phase
        phase_label:
          type: string
          title: Phase Label
        manager_control_plane:
          type: boolean
          title: Manager Control Plane
          default: true
        manager_commit_required:
          type: boolean
          title: Manager Commit Required
          default: true
        commit_intents_enabled:
          type: boolean
          title: Commit Intents Enabled
          default: false
        non_manager_proposal_only:
          type: boolean
          title: Non Manager Proposal Only
          default: true
        phase1_specialist_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Phase1 Specialist Key
        allowed_non_manager_agent_keys:
          items:
            type: string
          type: array
          title: Allowed Non Manager Agent Keys
        allowed_agent_keys:
          items:
            type: string
          type: array
          title: Allowed Agent Keys
        active_agent_keys:
          items:
            type: string
          type: array
          title: Active Agent Keys
        updated_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated At
        updated_by_user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By User Id
      type: object
      required:
      - phase
      - phase_label
      title: AgentTeamInteractionPolicyResponse
    DirectorInsightMetricResponse:
      properties:
        metric_id:
          type: string
          title: Metric Id
        evidence_id:
          type: string
          title: Evidence Id
        label:
          type: string
          title: Label
        value:
          type: number
          maximum: 1000000000000000.0
          minimum: -1000000000000000.0
          title: Value
        display_value:
          type: string
          title: Display Value
        unit:
          anyOf:
          - type: string
          - type: 'null'
          title: Unit
        currency:
          anyOf:
          - type: string
          - type: 'null'
          title: Currency
        scope:
          anyOf:
          - type: string
          - type: 'null'
          title: Scope
        window:
          anyOf:
          - type: string
          - type: 'null'
          title: Window
        observed_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Observed At
        role:
          anyOf:
          - type: string
            enum:
            - decision
            - context
          - type: 'null'
          title: Role
        comparison_status:
          anyOf:
          - type: string
            enum:
            - absolute
            - comparative
          - type: 'null'
          title: Comparison Status
        publisher:
          anyOf:
          - type: string
          - type: 'null'
          title: Publisher
        source_title:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Title
        source_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Url
        published_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Published Date
        estimate:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Estimate
      type: object
      required:
      - metric_id
      - evidence_id
      - label
      - value
      - display_value
      title: DirectorInsightMetricResponse
    AgentTeamRuntimeControlsUpdate:
      properties:
        execution_mode:
          anyOf:
          - type: string
            enum:
            - prepare_only
            - approval_gated_execute
          - type: 'null'
          title: Execution Mode
        require_approval_for_external_actions:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Require Approval For External Actions
        max_external_actions_per_run:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 0.0
          - type: 'null'
          title: Max External Actions Per Run
        inbox_max_drafts_per_run:
          anyOf:
          - type: integer
            maximum: 250.0
            minimum: 0.0
          - type: 'null'
          title: Inbox Max Drafts Per Run
        allow_high_risk_execution:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Allow High Risk Execution
        max_creative_generations_per_run:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 0.0
          - type: 'null'
          title: Max Creative Generations Per Run
        auto_progress_approved_actions:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Auto Progress Approved Actions
[...]
